[2020-06-02 17:09] dsvrsec opened #110 "AttributeError: module 'textattack' has no attribute 'shared'"
I tried to run this line

from textattack.augmentation import EmbeddingAugmenter

and got the error AttributeError: module 'textattack' has no attribute 'shared'

textattack: Downloading https://textattack.s3.amazonaws.com/config.yaml.
100%|██████████| 76.0/76.0 [00:00<00:00, 25.0kB/s]
textattack: Copying /root/.cache/textattack/tmpb4gqlzdx.zip to /root/.cache/textattack/config.yaml.
textattack: S

[2020-06-02 18:01] jxmorris12 commented on #110
Hi @kumarvrsec -- thanks for filing an issue, and thanks for checking out TextAttack!

I tried reinstalling a fresh copy of textattack and I can't reproduce your issue. That is, after `pip install textattack`, running `from textattack.augmentation import EmbeddingAugmenter` works just fine. Did you install via PyPi (`pip install textattack`) or via source (`git clone && pip install -e .`)?

[2020-06-02 18:05] jinyongyoo commented on #110
Could you also let us know what your output is when you run the following code in a Python interpreter?
[code]

This should tell you if you're actually importing TextAttack

[2020-06-03 00:53] kumarvrsec commented on #110
1.i have installed using pip and tried it in google colab

[2020-06-03 03:43] jxmorris12 commented on #110
Hi @kumarvrsec, we determined that this was due to an issue with an import loop that affected only specific installations of Python. It's now fixed in version `0.0.2.3`. Can you reinstall (`pip install textattack --upgrade`) and let us know if you can now successfully use the `EmbeddingAugmenter`? Thanks.

[2020-06-03 03:51] kumarvrsec commented on #110
Thank you,the error is resolved and can you give any end to end example of implementing an attack eg:hotflip

[2020-06-03 15:27] jxmorris12 commented on #110
That's a great question! We have HotFlip word swap (S5) in the paper already implemented, and it works with our pretrained LSTMs. The easiest way to try it out is like this:

```!python -m textattack --model lstm-mr --recipe hotflip --num-examples 100```

When I ran that just now, the HotFlip attack was only successful 6/91 times (9 mispredictions weren't attacked). This 6% attack success rate mak

[2020-06-04 01:17] kumarvrsec commented on #110
I have run this code in google colab.But i face this error.Can you please suggest remediation for this.

Traceback (most recent call last):
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.6/dist-packages/textattack/__main__.py", lin

[2020-06-04 02:25] kumarvrsec commented on #110
Thank you.Is there any way i can customize it,like changing the pretrained model and data

[2020-06-04 14:40] kumarvrsec commented on #110
How can i use other word embeddings instead of paragramcf for a specific attack ..eg like hotflip..thanks

[2020-06-05 17:30] jxmorris12 commented on #110
Hi @kumarvrsec. I'll try to answer your questions one-by-one:

- **The `FileNotFound` error**: I can't get this to reproduce for me, even in a colab notebook. I have a suspicion that you got into some invalid state by canceling an in-progress download or unzip.  Try clearing the cache (`rm -rf ~/.cache/textattack`). If that doesn't work, restart the notebook.
- **Customizing the pre-trained model

[2020-06-10 07:00] katarkor opened #117 "Support for spaCy models"
Hi,
I was asked by @jxmorris12 to create this issue in connection to my original question on Stackoverflow:
https://stackoverflow.com/questions/61889477/using-spacy-models-with-allennlp-interpret-or-textattack/61897642?noredirect=1#comment109982631_61897642

I tried to figure out how to use **Textattack** with spaCy models, but was unsuccessful. I'll be grateful for any help :)

[2020-06-11 20:36] jind11 opened #118 "Dataset class that can import data from local files should be provided"
hi, I suggest two things: 1). Provide dev set instead of train set in the current available datasets classes; 2). Provide a dataset class that can import data from local files so that users can deal with their own data. Thanks!

[2020-06-11 22:35] jxmorris12 opened #119 "Files automatically cached in home folder"
TextAttack automatically downloads files to `~/.cache/`, which isn't ideal for every user. We should ask for the best cache_dir on the `_post_install_hook` and use that, instead of just defaulting to `~/.cache/`.

[2020-06-11 22:42] jxmorris12 commented on #118
Hi, these are great suggestions. Tonight we released version `0.0.3.0` which should make this easier.

1. We'll get samples from the dev set up as quickly as possible for the provided datasets (Yelp, MR, IMDB, and SNLI). We just added support for huggingface NLP datasets which might help you too.
2. We don't support automatically reading from a text file or CSV, but you can write a quick wrapper f

[2020-06-11 22:45] jxmorris12 opened #120 "Make W&B quiet"
Currently, when you run an attack via `python -m textattack ...`, Weights & Biases pops up and asks you to log in. This should only happen if you've specified the `--enable-wandb` option and added a Weights & Biases logger.

I think this is happening because we import a library that imports wandb (maybe `transformers`?) and that import is causing the message. We should silence the wandb logger in

[2020-06-11 22:45] jind11 commented on #118
I just now wrote a wrapper myself but this would require me to use this source code as a local package instead of installing it. However, in order to use this repository as a local package, I need to change the name of the folder "tokenizers" since it has the same name as another package which is for the "transformers".

[2020-06-11 22:49] jxmorris12 commented on #118
Hmm, that's a problem. Maybe we can fix this by renaming the `textattack` folder to `src/textattack`? I don't want to have to rename our packages...

[2020-06-11 22:52] jind11 commented on #118
I used this command so that I can resolve the dependency problems: export PYTHONPATH=$PYTHONPATH:‘pwd‘. In this way, you do not need to change the package name, but just need to change the folder name "tokenizers" to something else, such as "tokenizer",

[2020-06-12 04:04] jxmorris12 opened #121 "Printing to file should be optional"
Every time I run an attack via `python -m textattack ...`, I see that textattack prints everything to a file in `outputs/`. Sometimes I just want to see the ouput in `stdout` and forget about it forever. Printing to file should be optional.

Also, the command-line should log the args to a file, too (at least optionally).

[2020-06-12 17:30] ashim95 opened #122 "Reproducing results in original papers"
Hello,

Thanks for this great codebase.

I have been playing around with this repository and found it to work well out of the box. I have a question regarding reproducibility of results from original papers. I know recipes are the full implementations of the papers.

Do you have any stats on reproducing results in original papers?

Thanks,

[2020-06-12 18:18] jxmorris12 opened #123 "Make some imports optional"
I want to use TextAttack but I don't want to install `tensorflow` or `spacy`. I should be able to install TA without those modules and then be prompted to install them if I want to use the spacy tokenizer or tensorflow features.

[2020-06-12 18:35] jxmorris12 opened #124 "Faster language model for `alzantot` recipe"
The language model for the `alzantot` recipe is so slow. Running an attack on 1000 samples takes, literally, days. We should add the faster language model from [this paper](https://arxiv.org/pdf/1909.00986.pdf) and only use the slow language model if we have to.

[2020-06-12 18:42] jxmorris12 commented on #122
Hi @ashim95 -- this is a very good point, and one also brought up by @jind11 -- we need to provide results showing how our results compare to those reported in the papers. We've benchmarked the TextFooler and Alzantot-GA implementations and found results close to those in the papers, but we should add a table.

I'd also like to add a little disclaimer: we're not necessarily trying to match the res

[2020-06-12 18:49] jxmorris12 commented on #119
There are other cache directories (besides `TA_CACHE_DIR`) that need to be specified via env variables to
- `TFHUB_CACHE_DIR`
- `PYTORCH_TRANSFORMERS_CACHE`
- the Google language modeling cache directory too

[2020-06-12 18:57] jxmorris12 commented on #118
Ok, so two problems to fix here:

1. Loading dataset from file works, but it's not trivial. We should add some helpers and examples to make this easier for people. Even better, --load-dataset-from-csv could be a very nice feature.

2. Using `tokenizers` as a module name was fine until we started importing the [`tokenizers`](https://github.com/huggingface/tokenizers) package. Now, this is a mess. N

[2020-06-12 19:37] jxmorris12 opened #125 "Option for perturbing specific parts of a multi-sequence input"
Right now, models that take multiple sequences as input (like entailment) have them all joined in a TokenizedText and perturbed. Some attacks may wish to perturb specific parts of that input -- for example, just the premise for entailment. That should be an option.

[2020-06-12 20:20] jind11 commented on #119
Should also set up the cache directory for the nlp package: HF_HOME

[2020-06-13 08:20] jinyongyoo opened #126 "Remove `ids` from `TokenizedText`"
It seems like the only use of `ids` for `TokenizedText` object is for using it when calling the victim model in `goal_function`. This leads to unnecessary tokenization operations when we're generating `TokenizedText` from transformations since some of them will get filtered out by the constraints and won't be passed to the victim model.

It also adds confusion as to what the model `ids` are for fo

[2020-06-15 08:39] katarkor commented on #117
Thank you :)
I have one base model that I trained with spaCy's train function (https://spacy.io/api/cli#train) on an entity-free version of this treebank: https://github.com/ltgoslo/norne/tree/master/ud/nob with tagger and parser in the pipeline (no NER) and some word vectors (let me know if you need details on that). Then I trained several models for different tasks on top of that: NER, sentiment

[2020-06-18 22:15] #118 closed

[2020-06-18 22:15] #126 closed

[2020-06-19 11:18] 517030910405 opened #133 "Transformers Model "textattack/facebook-bart-large-CoLA" is 3 dimensional, but 2 dimensional is expected."
I copied the code from the `examples/text-classification/run_glue.py` from `transformers` and replace the model with your model.
I found that your model cannot evaluate properly with this structure.
How should I modify the program to make it run? Thanks
[code]

[code]

[2020-06-19 16:01] jxmorris12 commented on #133
Hi @517030910405 --

Ok, short answer, these BART models can't be loaded using the current huggingface setup. There are various problems with the `run_glue` pipeline and I've filed an [issue with `transformers`](https://github.com/huggingface/transformers/issues/4828) that I hope will be resolved soon. Until then, we can't load or use our BART models.

Here are some other things you should know:
1

[2020-06-21 03:33] #120 closed

[2020-06-22 10:16] 517030910405 commented on #133
Thank you very much!
`textattack` is working well now.

[2020-06-22 10:16] #133 closed

[2020-06-23 15:57] jind11 commented on #119
matplolib also has a cache directory, which can be set up by: MPLCONFIGDIR

[2020-06-24 01:57] jxmorris12 commented on #123
Turns out this is more complicated than I thought. Will come back around to this in the future if others request.

[2020-06-24 01:57] #123 closed

[2020-06-24 01:57] jxmorris12 commented on #121
Thanks @Hanyu-Liu-123 !!

[2020-06-24 01:57] #121 closed

[2020-06-24 23:43] #119 closed

[2020-06-25 18:07] saum7800 opened #155 "UnboundLocalError: local variable 'output' referenced before assignment"
Hi,
thank you for the great codebase. It is really helpful.

I attempted to attack a sample dataset of my own on a BERT model. I ran the following line:
`!textattack attack --model-from-huggingface bert-base-uncased --recipe textfooler --dataset-from-file att_dataset.py --num-examples 2`
on Google Colab. this is the error trace I got.

Traceback (most recent call last):
  File "/usr/local/bin/text

[2020-06-25 18:40] jxmorris12 commented on #155
Hey @saum7800  -- thanks for reporting this issue. There are a few problems here.

1. *A bug in our code*: we messed something up, which we just fixed in 0.1.1! If you `pip install textattack --upgrade` in your notebook, that should fix the `UnboundLocalError`.
2. The model you're loading from huggingface, `bert-base-uncased`, is a model that's **not fine-tuned for classification** -- in short, I

[2020-06-25 18:59] saum7800 commented on #155
Yes this resolves it. Thank you so much for helping out! (that too on such quick notice :) )

[2020-06-25 18:59] #155 closed

[2020-06-29 14:49] jxmorris12 opened #165 "WNLI training bug"
textattack (or transformers?) has a tokenizers bug that prevents WNLI models from training:

[code]

[2020-06-29 15:50] jxmorris12 opened #167 "transformers 3.x"
transformers and tokenizers have a lovely new update that's broken our tests on master

specifically, anyone who installs right now won't be able to use the GloveTokenizer -- which means the LSTM and CNN are both broken! :(

we need to:
- fix the error to work with the latest version of `tokenizers` and `transformers`
- set a specific version # so that we can avoid this in the future

[2020-06-29 16:26] #165 closed

[2020-06-29 16:26] #167 closed

[2020-06-29 18:58] #124 closed

[2020-06-29 22:43] jxmorris12 opened #171 "hyphens and apostrophes as word delimiters"
TextAttack treats `well-trodden` and `can't` as two words each.

We should, at least in the default case, consider these to be one word each!

[2020-06-30 17:56] #125 closed

[2020-07-02 03:53] jxmorris12 opened #177 "Diagnose CPU vs. GPU precision issues"
attacks on CPU and GPU produce different query numbers

attack on CPU: `CUDA_VISIBLE_DEVICES="" textattack attack --model lstm-mr --recipe faster-alzantot --num-examples 3 --num-examples-offset 20`

[code]

attack on GPU: `CUDA_VISIBLE_DEVICES=0 textattack attack --model lstm-mr --recipe faster-alzantot --num-examples 3 --num-examples-offset 20`
[code]

[2020-07-02 16:03] jxmorris12 opened #178 "CompositeTransformation should print sub-transformations"
the `CompositeTransformation` class aggregates the results of multiple transformations. however, it does not correctly print out its sub-transformations.

the DeepWordBug attack recipe contains a composite of four different transformations.

however, here's how the DeepWordBug attack prints now:
[code]

the transformation just prints `CompositeTransformation`, with no details. Instead, it should p

[2020-07-02 17:02] #171 closed

[2020-07-02 19:26] jxmorris12 opened #180 "Goal function should print maximization"
the input reduction recipe prints the following:

[code]

however, it should be clear from the print message that the `InputReduction` goal function is to be maximized (not achieved)

[2020-07-02 19:37] jxmorris12 opened #181 "Add MORPHEUS as an attack"
An attack that we haven't yet implemented but fits well in our framework is "It’s Morphin’ Time!
Combating Linguistic Discrimination with Inflectional Perturbations" [https://arxiv.org/pdf/2005.04364.pdf].

The search method is our `GreedyWordSwap` search. We need to add the transformation and goal function.

I think the attack can be implemented by adding the following:

1. **Transformation:** We

[2020-07-02 20:50] uvafan commented on #180
It should also not print `target_num_words` if it's maximizable, since it doesn't have any effect when it's maximizable.

[2020-07-03 19:13] jxmorris12 commented on #117
Hi @katarkor --

Just wanted to say that we haven't forgotten about your question and I'm sorry about the delay! We're going to overhaul the way we import models within the next month or so. This will make it much easier for you to use TextAttack with spacy!

Can you provide me some sample code that imports one of your models (either NER or text classification) and predicts a piece of text?

somet

[2020-07-04 00:22] DanqingZ opened #185 "Is this package working with PyTorch?"
I am trying to pip install this package on my ec2 instance, PyTorch with Python 3 environment, but I have below error. I am wondering if this package only works with Tensorflow?
[code]

[2020-07-04 10:41] jinyongyoo commented on #185
Hi @DanqingZ, PyTorch is used by TextAttack to implement most of the models. But a few models are Tensorflow-based, which is why we have `tensorflow>=2` as our requirement. Seems like your issue has to do with installing tensorflow and seems similar to issues found [here](https://github.com/tensorflow/tensorflow/issues/31939).

First thing I would do is to update `pip` since Tensorflow requires pi

[2020-07-06 07:54] heytitle commented on #122
hi,

Thanks for the nice repo!

May I also suggest to include a table listing the performance of all available pretrained models?

[2020-07-06 11:52] heytitle opened #187 "Error when using alzantot recipe"
To reproduce:
[code]

Error:
[code]

[2020-07-06 12:13] heytitle commented on #187
Another issue with `google_language_model.py` is that it doesn't implement `Constraint`'s `_check_constraint`, which is defined with `@abstractmethod`.

[2020-07-06 12:15] jinyongyoo commented on #187
Yes I'm also seeing same issue. That issue is because we recently defined `Constraint` class as an abstract base class, but haven't updated `GoogleLanguageModel` class accordingly.

[2020-07-06 12:55] heytitle commented on #187
This is the pair that causes the error
**Current Text**
[code]
**Transformed Text**
[code]
any explanation why the transformed text repeats itself?

[2020-07-06 13:38] heytitle commented on #187
If I'm right, the only situation that `word_swap_index` can be none is when `current_text` and `transformed_texts[0]` are the same.  So, I came up with this temporary solution, which essentially return empty probability and ignore `transformed_texts` to be selected.

[code]

[2020-07-06 13:59] heytitle opened #188 "Use <details> for README"
There is a HTML tag `<details>` that we can use inside Markdown. Browsers will automatically render the content of this black with a toggle block. So, I think it might be good to use it for the project's README because some parts are quite lengthly.

Please see my example at: https://github.com/heytitle/TextAttack/tree/patch-1#attacks-and-papers-implemented-attack-recipes

<img width="896" alt="im

[2020-07-06 14:06] jxmorris12 commented on #187
@heytitle thanks for all the info. we're working on it and should have a fix later today.

[2020-07-06 14:10] heytitle commented on #187
let me know when you're done. I can help with the testing :(.

btw, what is the `alzantot` recipe's usual running time? It takes ~1xmins per sample for me, and the job's GPU utilization is quite low. Any suggestion on speeding up the job?

[2020-07-06 14:14] jxmorris12 commented on #122
@heytitle that's a really good idea, and much more feasible in the short-term! We'll try and add a page with the performance of each model by the end of this week.

[2020-07-06 14:14] jxmorris12 commented on #187
@heytitle the language model is incredibly slow. On datasets with longer inputs it'll take even longer. Here are two suggestions:

1. if you have multiple GPUs, use the --parallel flag to distribute the load across them
2. use the `faster-alzantot` recipe from [Certified Robustness to Adversarial Word Substitutions](https://arxiv.org/abs/1909.00986). It was designed to solve exactly this issue

[2020-07-06 14:22] jxmorris12 commented on #188
good idea 👍

[2020-07-06 15:32] #187 closed

[2020-07-06 21:03] #185 closed

[2020-07-08 08:44] heytitle opened #197 "GoogleLM's print_step isn't never specified anywhere"
There is a debugging block in GoogleLM that relies on `print_step`, but it seems this attribute is never defined; hence, causing an error.

https://github.com/QData/TextAttack/blob/087880c586a5a123c2d5159df6b58e26807f1b00/textattack/constraints/grammaticality/language_models/google_language_model/google_language_model.py#L80

Can we simply remove the block?

[2020-07-08 16:32] jxmorris12 commented on #197
thanks @heytitle! this was fixed in #198

[2020-07-08 16:32] #197 closed

[2020-07-09 09:32] heytitle opened #201 "Better naming for CSVLogger"
Currently, logging to CSV uses the following format `attack-[timestamp].csv`.  This might be a bit challenging to track results, e.g. it's not clear from the name that what method or recipe was used for the attack.

Because several cmd arguments are already text or string, it might be a good idea to use them for constructing the filename. For example, something like
[code]
`timestamp` could also b

[2020-07-09 16:30] #178 closed

[2020-07-09 16:30] #180 closed

[2020-07-10 02:16] uvafan commented on #201
There should also be an option for specifying the output filename in addition to its directory.

[2020-07-12 18:04] jinyongyoo opened #209 "Issue with Gradient-based Word Swap"
Adding
[code]
to end of `__init__` of `WordSwapGradientBased` causes output for `hotflip` attacks to differ in test.

Not sure why this happens.

[2020-07-12 19:37] jxmorris12 opened #210 "add CheckList"
We should implement the invariance testing from
[Beyond Accuracy: Behavioral Testing of NLP models with CheckList](https://homes.cs.washington.edu/~marcotcr/acl20_checklist.pdf)

We can likely follow this tutorial: https://github.com/marcotcr/checklist/blob/master/notebooks/tutorials/2.%20Perturbing%20data.ipynb

This looks very easy to use.

[2020-07-12 21:29] #209 closed

[2020-07-13 17:54] lfdharo opened #215 "Multilanguage attack"
Hi, I'm surprised by the capabilities of this library and I would like to know if it can handle the generation or test attacks for other languages, e.g. Spanish, German, Japanese. In case it is currently not allowed, what would be your advise to overcome this issue.

Thanks

[2020-07-13 18:01] jxmorris12 commented on #215
Hi @lfdharo! This is something we've talked about and would love to add. TextAttack builds attacks from four modules: search method, transformation, goal function, and constraints. Generally, the search methods and goal functions are language-agnostic (although there are rare exceptions). The transformations and constraints, however, are generally based around English -- for example, swapping out

[2020-07-14 02:15] #181 closed

[2020-07-14 08:08] katarkor commented on #117
Hi,
no worries :) For NER it works like this:
[code]
This results in:
I
saw
Hanne PER
and
Marie PER
in
Oslo LOC
today
.

It only provides the most probable option for NER, I once tried to figure out how to get probabilities for all NER labels, but gave up, I think it was somewhere in the Cython part. For text classification on the other hand you get the probabilities:
[code]
Then you get a diction

[2020-07-18 05:53] MurliJadhav opened #218 "Update the example"
https://github.com/QData/TextAttack/blob/master/docs/examples/1_Introduction_and_Transformations.ipynb

please update the above example. Your repo is updated but not example. I am summerising what  beginners actually want .

actual sentence = "list of sentences"
attack= some_attack_name
//Perform Targeted or Un Targeted attacks
sentence_after attack ="list of attacked sentences"

Now we want dataf

[2020-07-20 13:30] #218 closed

[2020-07-21 03:33] normalOne95 opened #222 "Using with transformers repository"
Hi,

Thanks for developing this great repo!!

I just want to ask how can I make this work with models trained with huggingface's transformers repository. I understand the models can be used directly (*bin file), but `textattack` needs `train_args.json` file also which is not provided with a transformers model.

How can I use models in transformers repo with textattack, or Do I have to train models

[2020-07-22 17:40] jxmorris12 commented on #222
Hi @normalOne95 --

Ok, so ideally eventually we'll be able to support everything via `--model`. And regardless, this distinction between `--model`, `--model-from-file`, and `--model-from-huggingface` should be clearer in the documentation. Here's a quick explanation:
1. `--model` allows you to load textattack pre-trained models, either ones that we trained (which will be downloaded) or ones you t

[2020-07-23 19:54] heytitle commented on #215
@c4n would it be something that we can do for Thai?

[2020-07-24 10:38] swayson opened #224 "FileNotFoundError: Tried to load model from path - could not find train_args.json."
Hi, I used transformers 3.0.2 to train a masked language model and wanted to give `TextAttack` a try.
Bit confused by needing a `train_args.json` file, as huggingface would typically produce a `training_args.bin` file.

Any pointers?

`textattack attack --recipe deepwordbug  --num-examples 10 --model "checkpoint-500"`

[2020-07-24 10:53] swayson opened #225 "model-from-file bug when absolute windows path provided."
If an absolute windows path (e.g. C:\test.py) is passed to `--model-from-file` the following exception is raised:
[code]

Not sure what the reasoning of the check on `:` is but perhaps rather use `pathlib.Path` to check if valid path instead?

[2020-07-24 11:40] heytitle commented on #224
My interpretation from your question is that you're trying to use your own model. In this case, you probably have to the other options, e.g. `--model-from-file` or `--model-from-hugging-face`.

This might be relevant: https://github.com/QData/TextAttack/blob/e83f4a0091fb1582893041148128cef482f970c3/textattack/commands/attack/attack_args_helpers.py#L41

[2020-07-24 11:47] swayson commented on #224
Thanks @heytitle yep you are right. Turned out I had to use the `--model-from-file` argument.

[2020-07-24 11:47] #224 closed

[2020-07-24 14:13] jxmorris12 commented on #225
Hey @swayson --

this is a total oversight on our part. We set up the command-line syntax to allow multiple parameters for a single arg -- in this case, `my_file.py:my_model:my_tokenizer` should indicate to load `my_model` and `my_tokenizer` from `my_file.py`.

We hadn't realized that this doesn't work on Windows, but we will fix it. I think we can replace `:` with `|`, does that sound right to yo

[2020-07-28 17:03] c4n commented on #215
@heytitle yes, depending on linguistics resources/licenses.

[2020-07-29 10:18] normalOne95 commented on #222
Hi @jxmorris12 ,

Thank you for the reply!! Makes sense now. I will try what you suggested.

1. I trained huggingface models using `run_glue.py` script provided with `transformers` repo.

2. Another quick question, what is the use of module `bert_for_classification.py`. Is it possible that a Bert model based recipe does not call this module to make predictions, and just uses underlying HF transfor

[2020-07-29 19:37] #225 closed

[2020-07-29 21:31] #201 closed

[2020-07-30 01:24] puzzler10 opened #231 "Finding that the attack.attack_dataset() function gives error "a model 'list' object has no attribute 'size'""
Hi! Just getting started off using this package. I'm hoping you can help me with this error message.

I'm trying to use an attack recipe but I can't seem to do a successful attack. I use PWWSRen2019 below, but I found FasterGeneticAlgorithmJia2019 also fails.

Here is my script and the error message. I am using version 0.2.3.

[code]

The error trace:

[code]

I can run `list(results_iterable)` an

[2020-07-30 18:48] jxmorris12 commented on #231
Hi @puzzler10 -- we just added this `ModelWrapper` class that should make use cases like yours easier. How does this code look?

[code]

[2020-07-30 18:51] jxmorris12 commented on #231
[colab reproduction](https://colab.research.google.com/drive/1MeRoS4XEk7rEIasx6lsFGwdA47jWkeXj?usp=sharing)

[2020-07-31 00:24] puzzler10 commented on #231
Thanks! It works now. Thanks for putting together that the working example.

Obviously the time taken will depend on the particular attack, but it seems to take a long time to generate textual adversarial examples. For some reference times, the PWWS attack took 48 minutes on my Macbook to attack a single IMDB example, and the FasterGeneticAlgorithmJia2019 in your Colab example takes a long time to

[2020-08-01 16:51] ashwani-bhat opened #235 "Not able to load my own model"
I want to attack my own trained model. As such I used `textattack attack --model-from-file my_model.py --recipe bert-attack --num-examples 10`.  I am getting NameError: name 'load_model' is not defined. Kindly help.

[2020-08-02 16:56] jxmorris12 commented on #231
That seems a little slow @puzzler10 but it's highly variable. `alzantot`, for example, is an extremely slow recipe in general, and `deepwordbug` is quite fast, even without a GPU.

If you're running on colab, enabling a GPU can help a lot. (Go to Runtime > Change runtime type and selecting GPU underneath 'Hardware Accelerators'.)

[2020-08-02 17:30] jxmorris12 commented on #235
(solved on Slack)

the fix:
1. replace `load_model()` (sample function from documentation) with user's custom model-processing code, resulting in the following `my_model.py`:

[code]

2. add `--dataset-from-file` command to let textattack know that you're loading a dataset from a file. final command:

[code]

[2020-08-02 17:30] #235 closed

[2020-08-04 13:34] #231 closed

[2020-08-04 13:36] jxmorris12 commented on #222
Hi @normalOne95 -- that's just a wrapper for BERT models. It's really not necessary since we just added this whole model wrapper idea (let me know if you need to know more about that too). I'll make a note to get rid of `bert_for_classification.py` eventually.

[2020-08-04 13:36] #222 closed

[2020-08-05 06:23] kumarvrsec opened #237 "Mitigations for the attacks"
Are there any mitigations available for NLP models to defend against these attacks or make the model robust.I am thinking Adversarial training can be one.

[2020-08-05 15:52] jxmorris12 commented on #237
Hi @kumarvrsec – right now we support adversarial training via concatenating and replacing the dataset with perturbed examples. This is via `textattack train` with the `--attack` argument. We're planning on adding more defense techniques in the next few months.

[2020-08-05 16:09] jxmorris12 opened #238 "very low-probability IndexError in textfooler attack"
while running many iterations of the textfooler attack with different random seeds (during adversarial training) I received the following error:

[code]

[2020-08-07 18:38] tsinggggg opened #241 "Sklearn model wrapper not working"
Hi,

I tried to follow the notebook in the official doc for attacking a logistic regression and got the error below. In the code below, it's assuming self.model is callable.

~/anaconda3/lib/python3.7/site-packages/textattack/goal_functions/goal_function.py in _call_model_uncached(self, attacked_text_list)
    147         inputs = [at.tokenizer_input for at in attacked_text_list]
    148
--> 149

[2020-08-07 18:41] #241 closed

[2020-08-07 18:41] jxmorris12 commented on #241
Hey, did you fix it? @tsinggggg

[2020-08-08 16:35] jxmorris12 opened #242 "GoalFunctionResult and AttackResult should have __str__"
Both the `GoalFunctionResult` and `AttackResult` abstract classes should provide a meaningful `__str__` method so that they can be printed in a readable way.

[2020-08-12 21:12] jxmorris12 opened #244 "'Run in Colab' buttons not rendered on readthedocs"
For some reason, the .ipynb HTML is formatted differently when displayed on Github/jupyter/jupyternb and readthedocs. The bit of HTML in each notebook that's intended to show buttons (like 'Run in Colab') doesn't render properly. We probably just need to fix the indentation, or maybe some setting in nbsphinx.

<hr>

**Screenshot of how it looks on github (good):**
<img width="827" alt="Screen Shot

[2020-08-13 11:53] normalOne95 opened #245 "No effect of increased batch size."
Hi,

I have tried increasing the `batch_size` for `textattack attack` command with the argument `--model-batch-size`, but this does not affect anything - neither the GPU used memory increases, and neither does the total speed of attack on the dataset increase.

Have you noticed anything similar?
Thanks,

[2020-08-13 12:25] jxmorris12 commented on #245
Thanks @normalOne95 -- this is probably an issue with our new 'model wrappers' feature – specifically, that the batch size from argparse isn't passed in when we initialize a model wrapper. we're going to investigate and get back to you shortly

[2020-08-13 16:56] MoosaSaadat commented on #244
I would like to provide a PR for this issue.

[2020-08-14 03:00] puzzler10 opened #246 "Import error: Cannot import name 'AutoModelForMaskedLM' from 'transformers'"
Hi guys. I get the following error when importing textattack for the first time on a Ubuntu 18.04.3 machine (technically a Singularity container).

Some versions of relevant packages: `textattack==0.2.4, transformers==2.11.0,nltk==3.4.5`

The code
[code]

And the traceback:

[code]

[2020-08-14 13:35] jxmorris12 commented on #246
Hi @puzzler10 -- we updated to transformers 3.0 a bit ago. `AutoModelForMaskedLM` is a class that was added in 3.0. Looks like you're running 2.11.0, so it makes sense this doesn't work. We could definitely catch this error and handle it better though.

[2020-08-14 22:40] #246 closed

[2020-08-14 22:46] jxmorris12 opened #247 "Passing indices=[] to Attack.attack_dataset attacks the full dataset"
Say `attack` is an instance of the `Attack` class. Calling `attack.attack_dataset(dataset, indices=[1, 3, 5, 7])` will run attacks on indices 1, 3, 5, and 7 of the dataset.

It is common to omit the `indices` arugment: simply calling `attack.attack_dataset(dataset)` will run an attack on every sample in the dataset. Consequently, `attack.attack_dataset(dataset, indices=None)` will also run the att

[2020-08-14 22:46] #237 closed

[2020-08-15 23:42] puzzler10 commented on #246
Thanks! The problem turned out to be with installing `textattack` before installing `allennlp 1.0.0`. It turned out the `allennlp` install downgraded the `transformers` version in its install.

[2020-08-16 01:13] jxmorris12 commented on #246
@puzzler10

Ok, that's good to know, thank you!

Btw, let me know how TextAttack plays well with AllenNLP. We have an integration demo, but I haven't explored how the two mix much past that.

[2020-08-16 04:14] bterrific2008 commented on #244
[According to this issue](https://github.com/spatialaudio/nbsphinx/issues/468), HTML-style hyperlinks are not currently supported by `nbsphinx`. The content of the HTML-style hyperlink is generated as plain text, which accounts for why the buttons appear differently on readthedocs.

An solution could be replacing the buttons with Markdown image links. I was able to replace the "Run in Google Colab

[2020-08-16 07:24] jxmorris12 commented on #244
Wow, thanks for figuring this out @bterrific2008 -- that sounds like a perfect solution. Do you mind submitting a pull request to fix the buttons?

[2020-08-16 17:53] bterrific2008 commented on #244
Will do!

[2020-08-17 02:18] #244 closed

[2020-08-17 10:45] zjiehang opened #249 "Running error when using HuggingFaceModelWrapper and PWWS attacker"
I met error when runing the PWWS Attack on huggingface model. My code is showed below:

[code]

And the error is:
[code]

[2020-08-17 14:53] jxmorris12 commented on #249
What are `model_path` and `tokenizer_path`? @zjiehang

[2020-08-17 15:00] zjiehang commented on #249
```tokenizer_path``` is the path for "bert-base-uncased".
And ```model_path``` is the path for my finetune model,  based on "bert-base-uncased".

I find this bugs come from the tokenizer methods in HuggingFaceModelWrapper
In HuggingFaceModelWrapper, try self.tokenizer.encode_plus() for each text?

Another bug may happen, for the length of input_ids after tokenizing in HuggingFaceModelWrapper. We c

[2020-08-17 20:13] jxmorris12 commented on #245
Hi @normalOne95 -- I just ran a few test, and batch size seems to work for me, at least for PyTorch (and HuggingFace) models. You likely didn't see an increase in usage because batch size is very seldomly a bottleneck. Most steps of most attacks make only few queries– maybe 20 or so.

If you set the batch size to something really small (say, 2) you should see a change in GPU usage.

That said, unf

[2020-08-17 20:13] #245 closed

[2020-08-17 20:53] tsinggggg opened #252 "BertTokenizer with HuggingFaceModelWrapper"
I was trying to attack a customized hugging face model with textattack. When I used the HuggingFaceModelWrapper i got an error about the BertTokenizer.

From https://github.com/QData/TextAttack/blob/master/textattack/models/wrappers/pytorch_model_wrapper.py, the wrapper is expecting the batch_encode method or the encode method from the tokenizer(if the former does not exist)
`    def tokenize(self

[2020-08-17 20:55] jxmorris12 commented on #249
Fixed in v0.2.5. Here's the relevant Colab notebook: https://colab.research.google.com/drive/1amOmyG73Mc107sUzAlKzipkZp2M0x1nW?usp=sharing

[2020-08-17 20:56] tsinggggg commented on #252
Sorry! I just realized this issue is an duplicate of #249

[2020-08-17 20:57] jxmorris12 commented on #252
Hey @tsinggggg -- I literally just updated TextAttack (v0.2.5) to try and fix this. Can you try to `pip install --upgrade` and let me know if it works now?

[2020-08-17 21:06] tsinggggg commented on #252
I am getting another error. I think when tokenizer is a pretrained one, we need to set tokenizer path to None.

https://github.com/QData/TextAttack/blob/master/textattack/models/wrappers/huggingface_model_wrapper.py#L15

[2020-08-17 21:08] jxmorris12 commented on #252
My bad. Introduced a new error. That's a poor default. Fixing it @tsinggggg

[2020-08-17 21:10] jxmorris12 commented on #252
Try again @tsinggggg, I think this should be fixed in v0.2.6, haha.

[2020-08-17 21:27] tsinggggg commented on #252
Thanks! now I am getting 'forward() has no argument token_type_ids' from a distill bert for sequence classification model...so distill bert and bert do not have the same interface for the forward method. :(

[2020-08-17 21:30] jxmorris12 commented on #252
Can you share the code you've used? @tsinggggg

[2020-08-17 21:31] jxmorris12 commented on #252
@tsinggggg make sure your model and tokenizer are being initialized from the same pretrained path

[2020-08-17 21:38] tsinggggg commented on #252
Sorry i was coding on my company laptop so I am not able to share the original code but it's very simple and basically like this. Sorry for any potential typos

import textattack
from transformers import BertTokenizer, DistilBertForSequenceClassification
from textattack.attack_recipes import TextFoolerJin2009

tokenizer = BertTokenizer.from_pretrained(vocab_file_from_someone, do_lower_case=True)
m

[2020-08-17 22:30] jxmorris12 commented on #252
Thanks @tsinggggg! You need to replace `BertTokenizer` with `DistilBertTokenizer`. Everything else LGTM. DistilBERT uses a different tokenizer than BERT – and Distilbert has no notion of token type IDs, so that's why you saw the error above!

[2020-08-17 22:38] jxmorris12 commented on #252
@tsinggggg I tried using the `DistilBertTokenizer` and everything worked properly for me! [here's a link to a Colab reproduction](https://colab.research.google.com/drive/1wk2oejNCXpadKvF8G2vMChmSX0n3-ZOD?usp=sharing).

[2020-08-17 23:36] #252 closed

[2020-08-17 23:36] #249 closed

[2020-08-18 03:50] zjiehang commented on #249
Thanks for your works! Bug above is fixed.
However, something gets slower. For a batch whose max_length is 256 (defined by AutoTokenizer), we may not need 256 in fact. ?
For example, for a batch ['I am a cat', 'It is a dog'.], its actual max_length is 4-6 (considering <CLS> in Bert).
Maybe truncated the max_length in model_predict in HuggingFaceModelWrapper? Thanks!

[2020-08-18 17:45] jxmorris12 commented on #117
Hi @katarkor -- thank you for being patient :)

Ok, so named entity recognition is something we're working on, and don't support yet. But model wrappers should make us compatible with spaCy now, so let's try sentiment analysis!

Here is some code for a model wrapper around the spaCy sentiment analysis model you showed above. Since most datasets only have two classes (positive and negative) I split

[2020-08-20 10:37] katarkor commented on #117
Hi, thanks a lot, I'll give it a try! 😃

[2020-08-20 11:55] normalOne95 opened #256 "ValueError: Cannot perform GradientBasedWordSwap on model BertForSequenceClassification"
Hi,

I am getting the following error when I try and run `BERT-base` for `hotflip` attack.

[code]
in `File text_attack/textattack/shared/validators.py", line 88, in validate_model_gradient_word_swap_compatibility`

The reason provided for this is
`We can only take the gradient with respect to an individual word if the model uses a word-based tokenizer.`

Why should this be true though? Can't we s

[2020-08-20 15:23] jxmorris12 commented on #256
Hi @normalOne95 -- we've talked about this a bit with the team. HotFlip only defines its attacks (in the paper) wrt word-based models, so we try to catch and throw an error if the model doesn't use word-level tokenization.

That said, we'd love to have this feature. Ideally we'd have three versions of HotFlip for subwords:
- your version: replace subwords with other subwords
- the BAE attack versi

[2020-08-20 20:47] tsinggggg opened #258 "Attack on one word sentence"
I was getting an error when one of the sentences in my dataset happened to only have one word 'thanks'. the error seems to be reproducible with this notebook by using a one word sentence.
https://colab.research.google.com/drive/1wk2oejNCXpadKvF8G2vMChmSX0n3-ZOD?usp=sharing

this is probably a minor issue but i think it'd be great to have a result class for situations where there's an exception.

[2020-08-24 22:24] jxmorris12 opened #260 "add BERT-based augmenter"
We should allow data augmentation using masked-token prediction models through `WordSwapMaskedLM`. This would leverage the power of transformers like BERT to generate augmented inputs.

[2020-08-25 01:01] samsontmr commented on #181
Morpheus also works for classification other than QA (here's the example for NLI: https://github.com/salesforce/morpheus/blob/master/morpheus/morpheus_nli.py). It should be compatible with the existing classification goal functions you have.

[2020-08-25 01:12] jxmorris12 commented on #181
Good call @samsontmr -- let's open another issue!

[2020-08-25 01:13] jxmorris12 opened #261 "Support classification functions for MORPHEUS"
After adding morpheus (see issue #181), we need the recipe to support goal functions for classification tasks. Should be a quick change.

[2020-08-25 06:09] samsontmr commented on #261
Quick comment: for classification/extractive QA, the loss (instead of the accuracy/F1) should be used to guide the search where possible.

Are the classification attack recipes meant to be used for attacks on extractive QA tasks like SQuAD? The loss function for such tasks is a variation of the standard CE loss. [Example QA loss from my implementation here.](https://github.com/salesforce/morpheus/

[2020-08-26 18:08] #238 closed

[2020-08-26 18:08] #258 closed

[2020-08-27 15:55] tsinggggg opened #264 "Questions about new potential features"
Hi, Thanks for the great work. It'd be great to have two new features for the package but I am not sure if it's in the roadmap.

The transformations and constraints based on word embeddings are using paragramcf embedding by default and it seems it's the only option, i wonder if it's possible for user to bring their own embedding?(maybe i can directly change the attributes related to embeddings but

[2020-08-27 21:22] jxmorris12 commented on #264
@tsinggggg thanks for the feedback. We can certainly add these things. Just wanted to clarify the first: are you suggesting to provide a word embedding file via the command line? Or just programmatically?

[2020-08-27 21:25] tsinggggg commented on #264
oh sorry for not being clear. I meant programmatically

[2020-09-01 16:56] jxmorris12 opened #269 "Confusing error message when a model isn't supplied"
Output when I specify an attack without a model:

[code]

I think that throwing an error (rather than providing a model by default) is the correct behavior. But this error message is unclear. We should check if any `--model*` args are supplied, and, if not, throw an error that says "please supply a model" or something like that!

[2020-09-04 14:28] panwarnaveen9 opened #271 "[Question] Can we use custom example to get textattack result"
Standard command like below will take the 10 sample from dataset it trained on and shows the result

`textattack attack --model bert-base-uncased-sst2 --recipe bert-attack --num-examples 10`

How can I use same model and same recipe to attack sentence provided me ? not the from dataset.

Example -
For sentence : `I really like the today's weather.` how can I get the result of attack on this senten

[2020-09-04 17:43] jxmorris12 commented on #271
Hi @panwarnaveen9 -- if you have a lot of examples, you can use the `--dataset-from-file` argument. If you have few enough examples to test them all by hand, I suggest running `textattack attack --model bert-base-uncased-sst2 --recipe bert-attack --num-examples 10 **--interactive**` to try things out in interactive mode!

[2020-09-05 04:53] panwarnaveen9 commented on #271
@jxmorris12 Thanks..
This is awesome 👍 💯

[2020-09-05 04:53] #271 closed

[2020-09-11 14:44] monk1337 commented on #122
Hi, Any update on this issue?

[2020-09-11 14:51] jxmorris12 commented on #122
@monk1337 We have a comparison of a selection of attacks in our [paper on Arxiv](https://arxiv.org/pdf/2005.05909.pdf):

<img width="623" alt="Screen Shot 2020-09-11 at 10 50 40 AM" src="https://user-images.githubusercontent.com/13238952/92940075-a30cad00-f41c-11ea-846c-0bc2bc111e68.png">

[2020-09-11 16:04] jxmorris12 commented on #264
@tsinggggg for the second suggestion, can't you initialize an `UntargetedClassification` goal function with `target_max_score=0.9`? Let me know if I missed something there. (I'm looking at [untargeted_classification.py](https://github.com/QData/TextAttack/blob/master/textattack/goal_functions/classification/untargeted_classification.py))

[2020-09-13 11:45] KamiKazeFei opened #275 "Can this run on Win10?"
When i try to install textattack in anaconda, pop this message
and i use pip list didn't see textattack in list,so can this package run on Win10 OS?
------------------------------------------------------------------------------------------

  Complete output (30 lines):
  running bdist_wheel
  running build
  running build_deps
  Traceback (most recent call last):
    File "<string>", line 1, in <

[2020-09-13 14:31] jxmorris12 commented on #275
Hi @KamiKazeFei -- looks like you have torch 0.1.2 installed. You're going to need torch >= 1.0 to run TextAttack. Can you try upgrading torch and reinstalling? This should be able to run on Windows 10!

[2020-09-14 21:27] #264 closed

[2020-09-14 21:28] jxmorris12 commented on #264
@tsinggggg I added the custom word embedding option in PR #274. Let me know if the goal function `target_max_score` isn't what you wanted – you can just reopen the issue if need be – and we'll work to fix that!

[2020-09-15 16:21] ohadOrbach opened #277 "attack with "textattack/distilbert-base-uncased-imdb" produces perturbations with the same predictions as the original data"
hi,
i made more than 10K attacks of **PWWS** and more than 20K attacks of **textfooler** on IMDB dataset.

when i used **BertForSequenceClassification** model with "pretrained" from "**textattack/distilbert-base-uncased-imdb**"
the attack did not worked.
for the base sentence and the the attacked sentence i got **the same prediction for 98% of the data.**

any ideas why?

[2020-09-15 17:25] jxmorris12 commented on #277
Hi @ohadOrbach -- sounds like something is definitely wrong! Let's get a little more information.

What command did you run? Did you use a model wrapper? Can you share with us the bash command or Python code you invoked to try PWWS and textfooler? Thanks!

[2020-09-15 18:21] ohadOrbach commented on #277
Hi @jxmorris12

1. i didn't use a model wrapper

2. the python code i used for generating attacks is
!textattack attack --model distilbert-base-uncased-imdb --recipe pwws --num-examples 10000 --shuffle False --checkpoint-interval 100 --csv-style plain  --log-to-csv AttackDatsetPWWSRen2019

3. the data i used for the model looks like the following:

text1 | text2 | label
-- | -- | --
The plot: Mich

[2020-09-15 19:48] jxmorris12 commented on #277
Hi @ohadOrbach, I tried running this in a Colab notebook; [here's a link](https://colab.research.google.com/drive/1WxdCoHchLxA0lz5ZkrP33w0mtCxJ3ZOy?usp=sharing).

I believe the issue is `--shuffle=False`. The IMDB dataset lists examples grouped by class: first, all the negative samples, then, all the positive samples. If you don't shuffle, you'll have to attack all the positive samples before gett

[2020-09-15 19:50] jxmorris12 opened #278 "eval fails for distilbert-base-uncased-imdb"
Command:

[code]

Output:

[code]

Expected:
to successfully evaluate this model on 1000 samples from IMDB

Reproduced in the [following Colab notebook](https://colab.research.google.com/drive/1WxdCoHchLxA0lz5ZkrP33w0mtCxJ3ZOy?usp=sharing), in the second cell.

[2020-09-15 20:35] ohadOrbach commented on #277
Hi @jxmorris12 , [here ](https://colab.research.google.com/drive/1OQGoCtp9PIXfom2CuiUX1OutnA7ctEIg?usp=sharing)is the Colab notebook

I don't think this is the problem here.

I used the model only to **predict** with this data and **not to be trained** by this data.

The model is pretrained with "textattack/distilbert-base-uncased-imdb" and only the evaluation made with this data.

[2020-09-15 21:35] jxmorris12 commented on #277
please provide access! @ohadOrbach

[2020-09-15 22:02] ohadOrbach commented on #277
Sorry try this one
 [here](https://colab.research.google.com/drive/179CWM0pA8bE-bmfGuoJeoq3NUerQ0GK1?usp=sharing)

[2020-09-16 18:44] jxmorris12 commented on #277
@ohadOrbach there's something wrong with your model and/or tokenizer loading code. All the predictions in the notebook are right around 0.5. This is more likely to be tokenizer misconfiguration than a model issue. Since the attack ran correctly, the model works correctly in TextAttack.

[2020-09-16 18:45] jxmorris12 commented on #277
You should also be using softmax instead of sigmoid, but that's not the issue

[2020-09-16 19:26] jxmorris12 commented on #278
fixed in v0.2.10! See this [colab reproduction](https://colab.research.google.com/drive/1_n-eMQ4zHrH0sIys8iNMqcIUcm20cBD5?usp=sharing).

[2020-09-16 19:26] #278 closed

[2020-09-16 19:31] #277 closed

[2020-09-16 19:35] ohadOrbach commented on #277
Yes you are defiantly right.
Thank you for the quick response and help!

[2020-09-16 19:47] jxmorris12 commented on #277
No problem @ohadOrbach! Happy to help.

[2020-09-21 18:54] #210 closed

[2020-09-29 00:12] RishabhMaheshwary opened #282 "Attacking text samples from a specified file"
I executed the following command :
[code]
but got the following error:

```'NoneType' object has no attribute 'loader'.```

Is there any specified format to attack the text samples from a given file?

[2020-09-30 19:23] jxmorris12 commented on #282
Hi @RishabhMaheshwary -- sorry for the confusing error message.

`--attack-from-file` is intended to take in a path to a Python file that defines an `Attack` object (with which to run the attack). You provided a path to a text file (I think?) so the loader did something weird and crashed with an error.

I think the flag you're looking for is `--dataset-from-file`, which also takes in a Python file

[2020-10-01 02:25] RishabhMaheshwary commented on #282
Thanks, will try that. And is there any option to load our own pre-trained model?

[2020-10-01 03:30] jxmorris12 commented on #282
Yes @RishabhMaheshwary, it's `--model-from-file`!

[2020-10-01 05:00] RishabhMaheshwary commented on #282
Used the follwing command:
[code]
Getting the following error:
[code]
```model_file.py```
[code]
In ```model_file.py``` I loaded my own pretrained model. Is this the right way to do, or am I missing something?

[2020-10-01 11:41] FlorianO opened #288 "Conflicting versions(sentence-transformers, transformers) lead to failing tests"
Hi,
while following the Contribution Guideline i got the following problem:
`ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.
We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.
sentence-transformers 0.3.7 re

[2020-10-01 11:48] FlorianO opened #289 "Test failing due to problem downloading model bert-base-uncased-imdb"
While running the tests i'll get the following error:
`extattack: Loading pre-trained model from HuggingFace model repository: textattack/bert-base-uncased-imdb
Using /var/folders/fl/xpmc24ds64vfft587kkd_6qh0000gn/T/tfhub_modules to cache modules.
Traceback (most recent call last):
  File "/Users/over/Projects/009_privat/017_TextAttack/MyFork/TextAttack/.venv/bin/textattack", line 8, in <module>

[2020-10-01 14:26] jxmorris12 commented on #289
Hi @FlorianO -- thanks for reporting this issue!! It seems to be some weird error with the tensorflow hub model download, which is trying to load for you the Universal Sentence Encoder.

Can you try re-running the tests with TA_CACHE_DIR set? For example, you could run `TA_CACHE_DIR=/local/tmp pytest tests` if `/local/tmp` is a good place for TextAttack to save models. (keep in mind the cumulative

[2020-10-01 14:31] jxmorris12 commented on #282
Hi @RishabhMaheshwary -- you're really close!

1. It looks like `BertForSequenceClassification` can't load the model from the `./mr` directory. This error is independent of TextAttack.

2. Please wrap your model in a [model wrapper](https://textattack.readthedocs.io/en/latest/datasets_models/models.html#model-wrappers) to work properly with TextAttack. You can do this by adding the following lines

[2020-10-02 06:56] RishabhMaheshwary commented on #282
Getting the following error now:
[code]
```dataset.py``` file
[code]
```model_file.py```
[code]

[2020-10-02 06:56] RishabhMaheshwary commented on #282
It seems like there is some issue with the tokenizer part.

[2020-10-02 14:54] jxmorris12 commented on #282
Well you're importing BertTokenizer from your local `BERT` directory so I can only speculate as to what it's doing. But it looks like your local `BertTokenizer` class doesn't define an `encode()` method, unlike the canonical class `transformers.tokenization_bert.BertTokenizer`.

Maybe try
[code]

instead of
[code]

[2020-10-02 16:42] RishabhMaheshwary commented on #282
Used ``` from transformers import tokenizer```
Got the following error:
[code]

[2020-10-02 16:46] jxmorris12 commented on #282
@RishabhMaheshwary `forward()` isn't implemented because `NLI_infer_BERT` has no `forward()` method.

I suppose you could try adding this bit of code to your class:

[code]

[2020-10-03 05:03] RishabhMaheshwary commented on #282
Thanks, Its working now.

[2020-10-04 15:27] #282 closed

[2020-10-06 05:17] jinyongyoo commented on #288
Hi @FlorianO, we recently updated our `transformers` version to work with `sentence-transformers`.

[2020-10-06 08:01] FlorianO commented on #288
I'll update and try again. :)

[2020-10-06 14:28] tsinggggg opened #294 "InputColumnModification and GreedyWordSwapWIR"
This is probably very minor.. When the GreedyWordSwapWIR calculates the word importance, it calculates the leave one texts for all the words in the input, but if an input column modification constraint is specified, there's no need to calculate the word importance for the words in the column to ignore,

[2020-10-06 20:34] jxmorris12 commented on #294
Good point @tsinggggg! I believe GreedyWordSwapWIR could be faster by not ranking any words disallowed by pre-transformation constraints.

[2020-10-07 17:49] Mrpatekful opened #295 "Preserving pre-tokenized word boundaries"
Sorry for filling an issue for this, but the slack link is expired and I couldn't find a different of platform for this project to ask my question.

I am trying to apply TextAttack to named entity recognition, however most of tagging tasks like NER have datasets that rely on pre-tokenized texts. By having a quick glance at the documentation and the source code, TextAttack does not accept pre-defin

[2020-10-07 18:53] jxmorris12 commented on #295
Thanks for letting us know about the Slack link! Not sure what happened there, but I updated the link, so we should be good to go. Join us via the new link!

I'm not sure if providing a list of tokens is the best solution since TextAttack internally wouldn't always know how to recreate the input string from the tokens. I think that we should support passing a custom tokenization function instead o

[2020-10-07 20:48] Mrpatekful commented on #295
Well, yes my problem is that in most cases the tokenizer for these tagging datasets is not known, therefore joining the text and then tokenizing it again might lose the original alignment of tokens and their labels.

But even if assuming that the tokenizer is available, and I can restore the original sequence to have the correct alignment for each token with its corresponding token tag, I don't th

[2020-10-08 03:46] QuintinPope opened #296 "[Question] Exactly how are the included models trained?"
When I use the pretrained models (from e.g., --model roberta-base-imdb), what are the exact training parameters of this model (epochs, batch size, learning rate and scheduler, training data, early stopping, augmentations, etc)?

Thanks for any information you can provide. Also, thanks for writing this codebase. It's very convenient!

[2020-10-08 14:23] jxmorris12 commented on #296
Hey @QuintinPope -- that's a great question. We should make this information more accessible.

For each of our transformers, we selected the best out of a grid search over a bunch of possible hyperparameters. So it actually varies from model to model.

All of our models have model cards on the HuggingFace model hub. So for now, the easiest way to figure this out is:
1. Go to our page on the model

[2020-10-09 02:19] #288 closed

[2020-10-09 02:19] jinyongyoo commented on #247
Fix by @MintForever

[2020-10-09 02:19] #247 closed

[2020-10-09 02:22] jinyongyoo commented on #275
Closed because of no follow-up.

[2020-10-09 02:22] #275 closed

[2020-10-09 19:48] #289 closed

[2020-10-12 22:54] wangcongcong123 opened #300 "Installation failed on Windows"
### Has this lib. been tested on Windows? I tried it and there are some errors surrounding dependencies installation such as lru-dict and tensorflow_text. Appreciate any solutions?

[code]

[code]

[2020-10-15 19:57] FlorianO commented on #215
As i added Multilingual universal sentence encoder as a new constraint you should be able to use it as a constraint for thai.

[2020-10-19 14:01] dsvrsec commented on #237
Hi,Are there any defense(mitigations) techniques that are added to textattack or available in the literature

[2020-10-19 15:55] jjbrophy47 opened #307 "Error Using Attack Recipe PSOZang2020 On a Fine-tuned Hate Speech Classifier."
Hello, I'm encountering the following error when applying the PSOZang2020 attack recipe on the WordCNNForClassification, fine-tuned on a hate speech classification dataset:

Traceback (most recent call last):
  File "scripts/create_attacks/text_attack/attack.py", line 291, in <module>
    main(args)
  File "scripts/create_attacks/text_attack/attack.py", line 200, in main
    for attack_result in a

[2020-10-19 19:16] jxmorris12 commented on #237
Hi @dsvrsec -- we enable adversarial training via `textattack train --attack`.

[2020-10-20 17:39] michaelkarlcoleman opened #308 "Default for '--log-to-txt' (and -csv) tries to write to install tree"
The default values for `--log-to-txt` and `--log-to-csv` tries to write into the install tree (e.g., where the .py files are).  This is bad in general and also specifically fails in a multi-user environment.

Instead, the default should be the current working directory, or perhaps somewhere under the home directory (though that would be confusing and less useful).

As a workaround for other reader

[2020-10-21 17:01] jinyongyoo commented on #307
Hi @jjbrophy47 thank you for reporting this issue. Are you running the attack with a query budget?

[2020-10-21 18:18] jjbrophy47 commented on #307
Yes, I set a query budget of 500.

[2020-10-21 19:34] jinyongyoo commented on #307
I see. We overlooked the fact that query budget would cause this issue. We'll try to get this patched up ASAP.

[2020-10-21 19:37] jjbrophy47 commented on #307
Thanks!

On Wed, Oct 21, 2020 at 12:34 PM Jin Yong Yoo <notifications@github.com>
wrote:

[2020-10-22 00:57] jinyongyoo commented on #307
@jjbrophy47 We just merged PR #309 that fixes this issue. Please pull the latest changes and install locally!

[2020-10-22 05:25] #307 closed

[2020-10-22 18:47] jjbrophy47 opened #311 "Error Using Attack Recipe PWWSRen2019 On a Fine-tuned Hate Speech Classifier."
Hello, I'm encountering the following error when applying the PWWSRen2019 attack recipe on the WordCNNForClassification, fine-tuned on a hate speech classification dataset and using a query budget of 500:

Traceback (most recent call last):
  File "scripts/create_attacks/text_attack/attack.py", line 291, in <module>
    main(args)
  File "scripts/create_attacks/text_attack/attack.py", line 200, in

[2020-10-22 18:49] jjbrophy47 opened #312 "Error Using Attack Recipe Kuleshov2017 On a Fine-tuned Hate Speech Classifier."
Hello, I'm encountering the following error when applying the Kuleshov2017 attack recipe on the LSTMForClasification, fine-tuned on a hate speech classification dataset and using a query budget of 500:

Traceback (most recent call last):
  File "scripts/create_attacks/text_attack/attack.py", line 291, in <module>
    main(args)
  File "scripts/create_attacks/text_attack/attack.py", line 200, in ma

[2020-10-23 03:49] shizhouxing opened #313 "Missing citation in WordSwapMaskedLM"
Hi, I find your [WordSwapMaskedLM](https://github.com/QData/TextAttack/blob/master/textattack/transformations/word_swap_masked_lm.py) transformation missed our paper https://arxiv.org/abs/1909.02560 where the technique of using BERT masked language model for generating substitution words in adversarial examples initially appeared, half a year earlier than the other two (BERT-attack and BAE) cited

[2020-10-26 20:03] qiyanjun commented on #313
@shizhouxing I have added your paper link? https://github.com/QData/TextAttack/blob/master/textattack/transformations/word_swap_masked_lm.py

[2020-10-26 20:03] #313 closed

[2020-10-27 01:40] shizhouxing commented on #313
@qiyanjun Thanks!

[2020-10-29 13:09] FinTexIFB commented on #264
Hi.

I would like to use textAttack for text augmentation. I plan to use the "EmbeddingAugmenter" on German text, which is why I need a German word embedding instead of "paragramcf".  I am not sure how to imple,ent this given your toolbox. How can I make use of your adjusted version of "word_embedding.py"?

Thank you very much for your help!

[2020-10-29 18:46] jxmorris12 commented on #264
Hi @FinTexIFB -- you should make a subclass of `WordSwap` that returns synonyms from the German word embedding dictionary for each word of input.

You can implement the class however you want as long as you subclass WordSwap and implement `_get_replacement_words(self, word)` which should return the German embedding neighbors to `word` within your desired threshold.

As you mentioned, [`word_embedd

[2020-11-03 17:29] qiyanjun commented on #300
@wangcongcong123 we have asked a few students who have windows OS to try TextAttack installation, and none had the same as your post. Have you resolved it?

[2020-11-04 00:06] jxmorris12 commented on #300
Hi @wangcongcong123 -- sorry for not getting back to you sooner! What Windows OS are you running specifically?

TextAttack requires tensorflow to be installed -- although we're working on removing this -- and it seems like you've run into an error installing tensorflow. Try to install tensorflow on your machine separately and then install TextAttack as a second step.

[2020-11-04 15:43] #300 closed

[2020-11-05 23:46] tsinggggg opened #325 "Unexpected behaviour when using customized word embedding"
I was using `TextFoolerJin2019` to attack the distillbert sentiment analysis model from huggingface transformer `    from transformers import pipeline
    p = pipeline("sentiment-analysis")`, but i downloaded `https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz ` and replaced the original default paragram cf embedding in the recipe(one word embedding distance constrait

[2020-11-05 23:56] tsinggggg commented on #325
One potential solution for this particular issue may be simply returning false when there are more than 1 newly_modified_indice

shttps://github.com/QData/TextAttack/blob/master/textattack/constraints/semantics/word_embedding_distance.py#L127

[2020-11-05 23:58] tsinggggg commented on #325
![image](https://user-images.githubusercontent.com/20978879/98309559-c4ab9000-1f98-11eb-8c96-6b0003d7293d.png)

some of candidates shown here.. most of them make sense..

[2020-11-06 15:12] tsinggggg commented on #325
https://github.com/QData/TextAttack/blob/07abaf5b1bc47beba534077c4086d7259e8d8e2b/textattack/shared/utils/strings.py#L26

I think the cause is here. Basically i think this is a tokenizing function but it only allows ' and - in words but not other special characters like * _ @.

If the corpus come from internet there's a high chance that words contain these ones, for example in the embedding traine

[2020-11-06 15:13] jinyongyoo commented on #325
I believe this out of bounds error occurs because how `AttackedText` tokenizes a text into words. Currently, it would split `slovakia_slota_commented` into `["slovakia", "slota", "commented"]`. We did not anticipate this use case, but I think we can also support words connected by `_` (currently we treat words connected by hypens as a single word). Also, I'm assuming that you want `slovakia_slota_

[2020-11-06 15:15] tsinggggg commented on #325
Hey thanks for the response, this is exactly what i did and then i came into this word: sh_*_tty. lol.

[2020-11-06 15:20] jinyongyoo commented on #325
Hmm I see. We did not consider those cases either. I think It's fine for us to allow words connected by `@` (emails) and `*`. Could you maybe make a PR about this?

Also, I'll take a look into your suggestion about using defaultdict. We're planning to rewrite parts of the word embedding constraint and transformation to allow easier use of custom embeddings.

[2020-11-06 15:23] tsinggggg commented on #325
any chance a new result type ExceptionResult is added when there's unexpected exceptions like this?

Sure, I'd love to.

Also i have written something for using custom embeddings. Not sure what you think about it, but here it is if it interests you.
https://github.com/tsinggggg/nlp_test/blob/master/nlptest/nlptest/testsuite/ta/util.py

[2020-11-06 16:05] jinyongyoo commented on #325
Sure I agree clearer exceptions are more helpful for debugging. For custom embeddings, we actually came up with a wrapper for embedding (https://github.com/QData/TextAttack/blob/master/textattack/shared/word_embedding.py), but never fully integrated it with `WordSwapEmbedding` and `WordEmbeddingDistance`. We're planning to integrate it asap.

[2020-11-10 18:36] qiyanjun commented on #325
@tsinggggg Possible to help us integrate the (https://github.com/QData/TextAttack/blob/master/textattack/shared/word_embedding.py), with WordSwapEmbedding and WordEmbeddingDistance. Plus adding your util code..?

You can submit a PR then.. Many thanks,

[2020-11-10 18:49] tsinggggg commented on #325
@qiyanjun Loved to!

[2020-11-11 15:26] qiyanjun commented on #325
@tsinggggg many thanks! Please check out this page for the process: https://textattack.readthedocs.io/en/latest/1start/support.html

[2020-11-12 19:31] qiyanjun commented on #117
@katarkor is this solved?

[2020-11-13 16:02] katarkor commented on #117
@qiyanjun hi, sorry for taking so long, I got busy with other things at work. I tried to run it, but I get this error:
AttributeError: module 'textattack.datasets' has no attribute 'HuggingFaceNlpDataset'
Which version should I use? I installed 0.2.11.

[2020-11-13 16:19] jxmorris12 commented on #117
@katarkor oh yeah, our API has changed a tiny bit! `HuggingFaceNlpDataset` is now `HuggingFaceDataset`. Change that and let us know how it goes!

[2020-11-13 16:58] katarkor commented on #117
@jxmorris12 I got some errors, but I fixed it now:
[code]
The problem was the missing .cats on output (and I also added the check for neutral class in case the model only has positive and negative). So now it runs, but my model is for Norwegian and I get English text, how do I change that?

[2020-11-14 01:56] jxmorris12 commented on #117
Hmm ok we're close! What command are you running @katarkor? You probably have to supply a Norwegian dataset, I'm thinking.

[2020-11-16 08:04] katarkor commented on #117
@jxmorris12 I'm running the exact same code you postet above, only I change "your_textcat_model" to an actual model name I have. I'm guessing I should make some changes to how I define "dataset", but how do I do that? What format of a dataset is supported?

[2020-11-16 14:10] jxmorris12 commented on #117
good question @katarkor!! That `HuggingFaceDataset` class loads datasets automatically from [this datasets package](https://github.com/huggingface/datasets). Instead, you should load the dataset yourself as a list of tuples where each tuple is a (text, label) pair. See this section of the readme: https://github.com/QData/TextAttack#dataset-from-a-file

[2020-11-17 12:47] Opdoop opened #341 "pip install bug"
### Bug
install textattack through pip missing dependent package
### Enviroment
Ubuntu 18.04.5 LTS
conda 4.8.3
### Reproducing
[code]
Then encounter this:
[code]

I tried `pip install google` and the pip freeze are below:
[code]

but still `textattack --help` gives `ModuleNotFoundError: No module named 'google'`

[2020-11-17 12:53] Opdoop commented on #341
According [stackflow](https://stackoverflow.com/questions/36183486/importerror-no-module-named-google)  solved by following command:
[code]
It's good to handle this bug and make installation pain-free 👏

[2020-11-17 17:02] jxmorris12 commented on #341
@Opdoop  thanks for the fix, and the PR.

@jinyongyoo It looks like this problem happens bc the google lm depends on `google.protobuf`, which I'm assuming is installed when you install tensorflow. So now that tensorflow is optional, `google.protobuf` doesn't exist. Should we add `google-api-python-client` to the requirements.txt as is done in #342? Or should we make `google` lazily imported someho

[2020-11-18 03:07] qiyanjun commented on #341
Thanks. Issues Solved.

[2020-11-18 03:07] #341 closed

[2020-11-18 16:58] qiyanjun commented on #260
@jinyongyoo @Hanyu-Liu-123 isn't this already part of the augmented?

[2020-11-18 17:00] qiyanjun commented on #122
@heytitle is this page the right one: https://textattack.readthedocs.io/en/latest/3recipes/models.html

[2020-11-18 17:00] #122 closed

[2020-11-18 17:02] qiyanjun commented on #188
@heytitle is the current Table of Recipes working? https://textattack.readthedocs.io/en/latest/1start/attacks4Components.html

[2020-11-18 17:36] qiyanjun commented on #296
@QuintinPope  we added model full details in https://textattack.readthedocs.io/en/latest/3recipes/models.html

[2020-11-18 17:36] #296 closed

[2020-11-18 17:36] qiyanjun commented on #325
this moves to PR https://github.com/QData/TextAttack/pull/333

[2020-11-18 17:36] #325 closed

[2020-11-18 20:03] Hanyu-Liu-123 commented on #260
@qiyanjun  I think we have the `EmbeddingAugmenter` that uses `transformation.WordSwapEmbedding`, but not an augmenter that uses `WordSwapMaskedLM`. CLARE actually have 3 transformations (including `WordSwapMaskedLM`) that uses masked-token prediction models. I'm thinking once we integrate CLARE maybe we can create a augmentation recipe that includes those mask-token transformations?

[2020-11-19 12:01] threemmm opened #348 "[Feature] Add a command to save all transformed query attacks"
A command to save all transformed query attacks with their details such as the model output confidence is needed for people who work on attack detection systems especially for the black-box attacks in which they need a sequence of all queries that an attacker makes to fool the model. I'm working on algorithms to detect the attacks and I need sequences of attack queries, so a command for it could b

[2020-11-19 16:25] #188 closed

[2020-11-19 17:51] jxmorris12 commented on #348
Hey @threemmm -- thanks for the suggestion! To be specific: you're suggesting a feature in which we save intermediate transformed texts and their scores to a file, not just the last transformation, right?

[2020-11-19 21:40] threemmm commented on #348
Hey @jxmorris12 , thank you for your awesome package.
Yes, exactly. I did it by adding "--save-sequences-csv" command, and I tried to follow your structure to save them (adding a new class to _logger_, and save into a file by _flush()_ at the end of the process). However, it doesn't work well with all _search methods_, as I return the result of "get_goal_results()" in addition to the final perturb

[2020-11-21 14:12] Opdoop opened #354 "Error when run `examples/attack/attack_camembert.py`"
I run textattack command line successfully. But run `examples/attack/attack_camembert.py` give this Error:
[code]
Could you help me find out where the problem is?

[2020-11-22 09:09] Opdoop opened #355 "Error when `textattack peek-dataset`"
Run `textattack peek-dataset --dataset-from-huggingface glue^mrpc` when using `zsh` shell gives following bug:
[code]
Is it possible to change `ARGS_SPLIT_TOKEN` to some token other than "^"

[2020-11-23 14:04] katarkor commented on #117
Ok, I'll check it out, thanks 😃

[2020-11-23 14:34] jxmorris12 commented on #117
@katarkor Awesome! ok if we close the issue for now?

[2020-11-23 14:37] katarkor commented on #117
Yup, I think I'll figure it out now

[2020-11-23 14:47] jxmorris12 commented on #117
So glad! This has been a long time coming haha. Thanks!

[2020-11-23 14:47] #117 closed

[2020-11-26 11:06] Opdoop commented on #355
By add `setopt NO_NOMATCH` flag to `zsh` solve this problem. Thus close this Issue.

[2020-11-26 11:06] #355 closed

[2020-11-27 14:16] Opdoop opened #358 "Question about Evaluation Results of Model Zoo"
In the [Evaluation Results of Available Models](https://textattack.readthedocs.io/en/latest/3recipes/models.html#evaluation-results-of-available-models) section, all models have reported two results: *Successes* and *Accuracy*.  These two metrics seems always to be the same. As in the first `lstm-ag-news, Successes: 914/1000, Accuracy: 91.4%`.
According to the document, in my understanding, this r

[2020-11-29 15:04] Cryptiex opened #359 "Parallel flag seems to be broken"
When I create adversial samples with

`textattack attack --recipe pwws --model lstm-imdb --num-examples 120000 --dataset-from-huggingface imd `

everything works perfectly.

If I use the `--parallel` options, though, it seems to break. It stays at 0% forever.

`textattack attack --recipe pwws --model lstm-imdb --num-examples 100 --dataset-from-huggingface imdb --parallel

[2020-11-30 15:02] Opdoop commented on #354
Seems like the incompatible with transformer pipeline cause this bug. Changed to the simple version, using textfool to attack bert-uncased model in imdb dataset, it works fine. The code snippet is below.
[code]

[2020-11-30 20:33] qiyanjun commented on #358
@Opdoop yes. we should rename that as Accuracy. I Will update in the next merge.

[2020-12-01 09:36] jinyongyoo commented on #359
Hi @Cryptiex, I ran`textattack attack --recipe pwws --model lstm-imdb --num-examples 100 --dataset-from-huggingface imdb --parallel` on our 8 gpu server and the `--parallel` option works fine. Could you maybe try other models (e.g. BERT) and provide us with more information?

[2020-12-01 09:42] Cryptiex commented on #359
![textattack](https://user-images.githubusercontent.com/24294489/100723262-d890b900-33c1-11eb-8d1c-f3f18f32ae77.PNG)

When I execute the command the progress bar does not progress at all. It simply stays at 0%

[2020-12-01 11:11] #358 closed

[2020-12-03 08:24] zjiehang opened #360 "How to attack nli dataset"
Hi, Jack:
I am Jiehang Zeng. Thanks for your TextAttack. Help me a lot! I am testing the robustness of the popular adversarial training method  (e.g. PGD-K, FreeAT, FreeLB).
I have a question about how to attack nli dataset in code. I find in TextFooler (https://github.com/QData/TextAttack/blob/master/textattack/attack_recipes/textfooler_jin_2019.py) there is InputColumnModification(["premise", "h

[2020-12-03 09:40] zjiehang commented on #360
Oh, I find HugginfaceDataset in the library. Sorry.
I will create my custom dataset CustomDataset, the subclass of HuggingfaceDataset. Thanks, I will close this issue!
Thanks for your TextAttack again.

[2020-12-03 09:40] #360 closed

[2020-12-04 02:55] Opdoop opened #362 "IndexError when use Attack recipe textfooler and textbugger"
Some marks in the input sentence may cause textfooler recipe IndexError.
One I encountered is the imdb['train'][14311] which content is :
[code]
Checked in interactive mode, the `>>>>>>>>>>>>>` cause `IndexError: list index out of range` .
Related traceback is below:
[code]

[2020-12-04 08:06] Opdoop commented on #362
Use this sentence as `original_text`, the corresponding `transformed_texts` is weird. It's out of my ability to solve this bug. I just use `try catch` to capture this IndexError and let this input to be a FAILED attack. Help needed! 🙌

[2020-12-04 15:03] threemmm opened #363 "Difference between Search method of "TextBugger recipe" and the paper"
In _textbugger_li_2018.py_ search method is `GreedyWordSwapWIR()` , whose default arg is 'unk', but in the paper, they proposed a scoring function that removes a word to find the important word.
So I think `GreedyWordSwapWIR(wir_method="delete")`  should be defined in _textbugger_li_2018.py_ as the search method.

[2020-12-05 11:13] qiyanjun commented on #363
@threemmm thanks. We will check

[2020-12-06 10:27] aaur0 opened #365 "TypeError: Can't instantiate abstract class CustomTensorFlowModelWrapper with abstract methods get_grad"
It seems the [change](https://github.com/QData/TextAttack/blob/c04f8f4b2a4396f70daaf9ebcbb9924fbb015cbf/textattack/models/wrappers/model_wrapper.py#L19) introduced in  v0.2.12 expects the **_get_grad_** method to be implemented for creating the CustomTensorFlowModelWrapper.  This has broken the [Example_0_tensorflow.ipynb notebook](https://github.com/QData/TextAttack/blob/3390a18c52402f75f0ea1a3ea

[2020-12-06 10:50] Opdoop commented on #365
I run into the same Error in https://github.com/QData/TextAttack/issues/354#issuecomment-735839449. Maybe there is some other incompatible with the class `CustomTensorFlowModelWrapper` or `ModelWrapper`. Hope you could solve this bug.

[2020-12-06 10:55] Opdoop commented on #362
This `>>>>>>>>>>>>>` alos cause `IndexError` when using `textbugger` recipe.
Input string to reproduce: imdb[10772]
[code]
Related traceback:
[code]

[2020-12-06 11:06] aaur0 commented on #365
For now, I have downgraded to 0.2.10 and it seems to have fixed the issue.

[2020-12-06 14:34] Opdoop opened #366 "Parallel Attack RuntimeError: generator raised StopIteration"
Uss recipe `textbugger`attack `imdb^test` dataset, get `RuntimeError: generator raised StopIteration`
The trackback is below:
[code]
I tried in python 3.7 with torch 1.7 and torch 1.6. Also python 3.6 with torch 1.6. This RuntimeError keeps show up in all these environments, although in different iterations.

[2020-12-06 23:41] Cryptiex commented on #359
Any updates on this?

[2020-12-07 17:44] jinyongyoo commented on #359
I sorry for the delay. I don't really have any good updates because I'm having a hard time recreating the error (`--parallel` seems to work on all of the machines I've tried so far).

Can you copy the following code and run it as a script? It evaluates the accuracy of BERT IMDB model via the same multiprocessing method as TextAttack. Let me know if your machine still hangs with the script. Then, i

[2020-12-08 21:42] jjbrophy47 opened #367 "Disabling Logger When Importing TextAttack"
Hello, I'd like to use my own logger in my scripts when using TextAttack. However, if I import textattack, duplicate messages get printed to stdout every time I use my logger. Is there any way to disable TextAttack's logging mechanism after import?

[2020-12-09 03:15] jinyongyoo commented on #367
Can you provide us an example of the duplicate messages?

[2020-12-09 19:08] jjbrophy47 commented on #367
[code]

I think I've figured out a workaround to my problem though, thank you!

[2020-12-09 19:08] #367 closed

[2020-12-10 20:43] qiyanjun commented on #359
@Cryptiex can you provide more details? on what OS? what version of Python? inside what environment?

[2020-12-11 15:51] Ges00 opened #370 "Word embedding in other languages"
Hi, i really appriciate your effort in the making of this amazing library! I've been using it to create word embedding on different english datasets and now i'd l'ike to use it for an italian dataset.
Is it possible to use this library to apply word embedding with text data written in a language different from english, like italian?

Thanks.

[2020-12-11 16:09] Tambup commented on #370
Hi, i work together with @Ges00. We are trying to make some attacks to models for italian dataset.
So, we'd like to use WordEmbedding class for the data augmentation phase.
We saw the static method "counterfitted_GLOVE_embedding".
So, our problem is to create the following files (given an italian word embedding) consistently with the use across the library:
word_embeddings_file,  word_list_file, m

[2020-12-12 07:30] lethaiq opened #371 "Function words_from_text() does not account possible Homoglyph characters"
Currently, the function `words_from_text()` from `string.py` will not correctly output if the perturbed word in a sentence is Homoglyph. For example: `words_from_text("×") will` return an empty list.

This can lead to unexpected behaviors when using `TextBugger` attack.

[2020-12-12 08:14] ziqi-zhang commented on #249
@jxmorris12 Hi I encountered the same problem and I didn't the v0.2.5 version of the code. I inspect the code and found that the inputs variable given to _model_predict function is a list of input_ids, instead of a dict.

[2020-12-12 08:23] zjiehang commented on #249
@ziqi-zhang Bug is fixed in the newer version (v0.2.14), in which an AutoTokenizer is used. (See https://github.com/QData/TextAttack/blob/master/textattack/models/tokenizers/auto_tokenizer.py)
Try updating the textattack?

[2020-12-12 08:36] ziqi-zhang commented on #249
@jxmorris12 Thanks for your quick reply! AutoTokenizer works. My problem was that I used the original hugginface's tokenizer and it needs to be wrapped by the AutoTokenizer of textattack.

[2020-12-12 10:01] ziqi-zhang opened #372 "How to accelerate attack in parallel through API"
Hi,

I'm developing my project with TextAttack API. I wonder how can I parallel the attack to accelerate? Here is the current code I'm using:
[code]
The code returns one result at one time in the loop. Because I want to check the overall performance of the whole dataset so I only care the accuracy. How can I make full use of the GPU memory and accelerate the process? It seems the batch_size of mod

[2020-12-12 14:40] jinyongyoo commented on #370
Hi @Ges00 and @Tambup.

Yes, we do support use of the custom word embeddings. First off, `counterfitted_GLOVE_embedding` method is used to load an English GLOVE word embedding that TextAttack uses as default. It's not really designed to be used to load custom word embedding.

To create your own custom word embedding, you could create a `WordEmbedding` object with the following arguments:
-  `embed

[2020-12-12 14:55] jinyongyoo commented on #372
Good question! If you have multiple GPUs and want to parallelize attacks, you can run your attacks via [command line](https://textattack.readthedocs.io/en/latest/1start/command_line_usage.html) and set the flag `--parallel`. Now, we don't offer a way to parallelize attacks on the API level yet. If you really wish to parallelize on the API level, you could try to replicate the code we have for comm

[2020-12-12 15:03] jinyongyoo commented on #371
Thanks for raising this issue. We'll review it.

[2020-12-12 15:08] jinyongyoo commented on #366
Could you tell us the full command you ran?

[2020-12-12 15:37] Tambup commented on #370
Thanks a lot @jinyongyoo. We start to work in this direction.

[2020-12-12 16:12] ziqi-zhang commented on #372
@jinyongyoo Thanks for your detailed reply! I want to parallelize attacks on one GPU because the memory occupation of 1 sentence is low. Is it viable to use run_attack_parallel.py to run multiple attacks on one GPU at the same time?

[2020-12-13 00:40] lethaiq commented on #371
@jinyongyoo my temporary solution is just copying the `self.homos` dictionary from `WordSwapHomoglyphSwap` class to `words_from_text() `. We might want to make this dictionary global to remove duplication. Thanks for great repo.

[2020-12-13 01:02] jinyongyoo commented on #363
fixed by PR #373.

[2020-12-13 01:02] #363 closed

[2020-12-13 01:11] jinyongyoo commented on #372
I have personally ran two attacks on one GPU, so yes it is possible. What you can do is instead of creating a worker process per GPU (as in https://github.com/QData/TextAttack/blob/82e8f51c9038f8d7b14d116c162039f321ea6bdb/textattack/commands/attack/run_attack_parallel.py#L136), create as many you need and then manually fix the `gpu_id` of each worker process.

[2020-12-13 08:52] Opdoop commented on #366
@jinyongyoo
I run python script, below command could reproduce the bug
[code]
 except the traceback didn't maintain `RuntimeError` just show `None` instead.

[2020-12-13 09:05] Opdoop commented on #366
Around 8323/25000 examples will occur this error

[2020-12-13 13:41] lethaiq commented on #372
@jinyongyoo This is very helpful. Can we deploy this as an additional argument to control this behavior?

[2020-12-13 13:43] lethaiq opened #374 "Low Attack Performance of PSO attack"
I run PSO attack through provided pre-trained `wordCNN` and `wordLSTM` but the attack success rate is very low. Is this because the PSO attack is weaker than other attacks? I wonder you observe a different behavior from me?

[2020-12-13 15:57] jinyongyoo commented on #374
Can you provide the exact attack you ran (e.g. recipe or other parameters)?

[2020-12-13 15:58] jinyongyoo commented on #372
Do you mean on the CLI level or on the API level (e.g. via `attack_dataset`). Either way if you would like to make a PR to add it as a new feature, I'll be more than happy to review it.

[2020-12-13 16:07] jinyongyoo commented on #371
Yes that's one way to fix the issue, though how `words_from_text` work might change in the near future. If you don't mind, could you still make a PR of your temporary solution as a hotfix? Thanks.

[2020-12-13 16:07] Tambup opened #375 "Incongruent version for 0.2.14 when installing with pip"
Hi, we are working on with #370 and surprisingly we discovered that when installing with pip the library some file(s) doesn't correspond to the files on the release 0.2.14 in git.
More in detail, we want to use the WordEmbedding class and as suggested in #370 we use these parameters embedding_matrix, word2index, index2word and nn_matrix. Here the issue is that we get this error:

----> 1 wb = Word

[2020-12-13 16:10] jinyongyoo commented on #366
@Opdoop This might be an issue related to issue #371.

[2020-12-13 16:18] jinyongyoo commented on #375
Yes that might be because the PR for the custom word embeddings was made after the 0.2.14 release. Seems like the PR was merged on 11/27 while 0.2.14 was released on 11/18. We'll make a new release soon to fix this. Thanks for pointing it out!

[2020-12-14 02:59] Opdoop commented on #371
Hi @lethaiq, I may encounter the same bug. Hotfix would be very helpful~

[2020-12-14 03:08] Opdoop commented on #372
Thanks, @jinyongyoo.😀 I'm new to multiprocess and I have one question. If I have multiple GPU, how to run two attacks on each GPU as you do?

[2020-12-14 04:03] lethaiq commented on #366
@jinyongyoo @Opdoop this is indeed related to #371. It took me 2 hours to trace this back to the `words_from_text()`

[2020-12-14 04:36] lethaiq commented on #374
@jinyongyoo `textattack attack --model cnn-mr --recipe pso --num-examples 100`
Output:

`+-------------------------------+--------+
| Attack Results                |        |
+-------------------------------+--------+
| Number of successful attacks: | 0      |
| Number of failed attacks:     | 77     |
| Number of skipped attacks:    | 23     |
| Original accuracy:            | 77.0%  |
| Accuracy

[2020-12-14 04:39] lethaiq opened #377 "Feature Request: specify which split when attack"
I think by default the CLI command `textattack attack` will use the train split of the dataset. We might want to specify which split of the dataset to use to attack. E.g., `textattack attack --model cnn-mr --split test`

[2020-12-14 06:45] Opdoop commented on #366
@lethaiq Woo~ Looking forward to your PR~
p.s. Is there any chance that `words_from_text` also related to bug #362 ?

[2020-12-14 20:22] jxmorris12 commented on #374
@jind11 does a 0% attack success rate seem correct to you?

I think some of our CNN models are somewhat overfitted. This could be a factor.

[2020-12-14 20:23] jxmorris12 commented on #377
This is a good point! We should probably require the `--split` flag; if not, we should default to test, or dev.

[2020-12-14 21:04] lethaiq commented on #374
@jxmorris12 I also run this attack on a custom model I trained externally and the attack success rate is very low. I don’t have time this week but I could look at this more closely next month if it is not resolved by then.

[2020-12-15 02:41] ziqi-zhang opened #379 "The transferability and the types of attacks"
Hi,
I see you implement plenty of attack recipes and most of them are greedy methods. I wonder among these attacks, is there anyone that uses the white-box information, such as the gradient of the model w.r.t. input? And which one has better transferability between different models?

Thanks,

[2020-12-15 03:54] lethaiq commented on #379
@ziqi-zhang I can see that `Hotflip` is a white-box and needs access to the model's gradients. I am not sure about the transferability, and correct me if I am wrong but we do not have cross-model attack function yet in the package.

[2020-12-15 05:36] ziqi-zhang commented on #379
Hi @lethaiq , thanks for your quick reply. I tried hotflip on BERT-base-uncased with glue dataset, but I got the error ValueError: Cannot perform GradientBasedWordSwap on model BertForSequenceClassification. Issue #256 mentioned this problem. It seems that the feature is not added yet. I was wondering is it possible to use another tokenizer in this case?

[2020-12-15 11:03] jinyongyoo commented on #371
Fixed by PR #376

[2020-12-15 11:03] #371 closed

[2020-12-15 11:04] jinyongyoo commented on #366
@Opdoop Can you try running the attack again to see if the latest patch fixed it?

[2020-12-15 11:07] jinyongyoo commented on #365
@aaur0 Hi this is because `get_grad` was set as an abstract method, which means that any class extending `ModelWrapper` needs to define it. But since `get_grad` is only needed only for operations that require gradient access, seems like this was an oversight by us. Thanks for reporting this. We'll get it fixed by next release.

[2020-12-15 11:34] jinyongyoo commented on #379
As Jack said in that issue, we don't allow BERT because it's a word-level tokenization. I think what you could do is for each word, find the best embedding/token via the gradient, then check if the token is actually a word or not (which could be tricky). You can refer to our WordSwapMaskedLM transformation for examples of how we do this, though it's not guaranteed that the token will actually be a

[2020-12-15 11:58] jinyongyoo commented on #374
It's because of a bug with WordSwapHowNet. PR #382 should fix it.

[2020-12-15 12:53] lethaiq commented on #374
Great Thanks

[2020-12-15 13:11] Opdoop commented on #366
@jinyongyoo  Yes, the hot-fix solved this bug. 🎉

[2020-12-15 13:23] jinyongyoo commented on #366
Okay great! I'll close this and #362.

[2020-12-15 13:23] #366 closed

[2020-12-15 13:24] #362 closed

[2020-12-15 16:23] lethaiq opened #383 "Error: dimension out of range - kuleshov attack on wordCNN on external dataset (hatespeech)"
[code]

Dataset:
https://github.com/t-davidson/hate-speech-and-offensive-language

[2020-12-16 01:35] #374 closed

[2020-12-16 04:43] ziqi-zhang commented on #379
Hi @jinyongyoo , thanks for your suggestion! I think you mean the file TextAttack/textattack/transformations/word_swaps/word_swap_masked_lm.py .  I will refer to that.

[2020-12-16 05:01] ziqi-zhang commented on #379
@jinyongyoo BTW, if I want to try hotflip attack, which model and dataset should I use? Sorry for such a simple question because I didn't find it on the document.

[2020-12-16 05:02] RishabhMaheshwary opened #385 "Add new attack recipe"
Request to add a new attack recipe:
 **Generating Natural Language Attacks in a Hard Label Black Box Setting**, accepted in AAAI 2021 main conference.
Paper: [Link to paper](https://www.researchgate.net/publication/347304785_Generating_Natural_Language_Attacks_in_a_Hard_Label_Black_Box_Setting).
Code: [Link to code](https://github.com/RishabhMaheshwary/hard-label-attack).

Brief Outline:
The paper

[2020-12-16 05:07] lethaiq commented on #379
@ziqi-zhang you can try LSTM with any of the datasets:
`textattack attack cnn-mr --recipe hotflip`

From what I understand, only LSTM supports hotflip now.

[2020-12-16 05:09] ziqi-zhang commented on #379
@lethaiq OK, thanks!!

[2020-12-16 05:12] lethaiq commented on #256
@jxmorris12 do we have any specific reasons that we also do not allow CNN with hotflip? As far as I can see from the code we only allow LSTM for hotflip attack?

As for this reason, should we have a better mechanism to manage the compatibility between attack recipe and model type?

[2020-12-16 08:10] zedzx1uv opened #386 "How to save the generated adversarial examples?"
Hi! I wang to compute the semantic similarity between the orig texts and the adv texts, but they are output on the screen.  How do I save them to a file?

[2020-12-16 08:17] RishabhMaheshwary commented on #386
You can use the following:
[code]
It will save the results as a csv file in ```outputs``` folder.

[2020-12-16 08:44] zedzx1uv commented on #386
thank you very much for your help！！

[2020-12-16 13:10] lethaiq commented on #383
I am not sure if this relates to #312 though the output error is different.

[2020-12-16 13:28] lethaiq opened #387 "Feature Request: seq2sick as a classification based attack"
I wonder if we can convert seq2sick to a text classification based attack according to this paper: https://www.aclweb.org/anthology/2020.emnlp-main.495.pdf

Since we already have seq2sick to attack seq2seq model, I thought this conversion should be quick?

[2020-12-16 15:50] jxmorris12 commented on #256
You're right that HotFlip as defined should work fine with the CNN. We just have to implement it.

What is wrong with how we manage attack-model compatibility currently?

[2020-12-16 18:47] nbrgr opened #388 "Problems with file redirection"
I'm running textattack on our compute cluster and the job scheduler redirects stdout to a file. Textattack's formatting should check if the output is a tty or not and disable color and formatting if the output doesn't support it.

Example output when file is redirected:
[code]

[2020-12-17 10:04] duongkstn opened #389 "Infinite loop in augment function"
Hi,
In function `augment` of class `Augmenter`, you wrote: `while words_swapped < num_words_to_swap:` . But when `words_swapped` is always smaller than `num_words_to_swap` , **the while loop becomes infinite.**
**For example:**
Assume I have a sentence with 18 words and `pct_words_to_swap== 0.15`, then `num_words_to_swap == 2`. Otherwise, I have a `Transformation` function `f` which only replace o

[2020-12-18 04:58] #386 closed

[2020-12-18 04:58] jinyongyoo commented on #354
Fixed by #381

[2020-12-18 04:58] #354 closed

[2020-12-18 04:59] jinyongyoo commented on #365
Fixed by #381

[2020-12-18 04:59] #365 closed

[2020-12-19 03:40] jinyongyoo commented on #372
@Opdoop I think you could just create `2*num_gpu` worker processes and the code should assign two processes to each GPUs. But I'm not 100% certain so you might have to do some hard coding.

As a side note, I think we will move towards attending parallel processing as a feature in the API level.

[2020-12-19 03:51] jinyongyoo commented on #385
Hi @RishabhMaheshwary, thank you sharing the paper. If you don't mind, could you make a PR for the new attack recipe? Please feel free to create any new components (e.g. search method, transformation, constraint) that is needed for your attack.

While most of the recipes have been added by TextAttack developers, we also would like to have some community input and feedback. If you have any question

[2020-12-19 03:57] jinyongyoo commented on #388
Good point. We'll add an option to disable color output

[2020-12-19 04:00] jinyongyoo commented on #387
I'm a little bit confused by what your mean "convert seq2sick to a text classification based attack". Could you explain a little bit more what you mean?

[2020-12-19 04:12] lethaiq commented on #387
@jinyongyoo according to the paper above, it says "Seq2sick (Cheng et al., 2018) is a whitebox projected gradient method to attack seq2seq models. Here, we perform seq2sick attack on sentiment classification models by changing its loss function, ...", so I suppose we can convert seq2sick to attack classification models?

[2020-12-19 04:27] lethaiq commented on #256
I just checked the repository and seem like the repo is using MODELS_BY_GOAL_FUNCTIONS to check the compatibility between goal functions and the target model. Can we also have another global variable (e.g., MODELS_BY_TRANSFORMATION) to check the compatibility between transformation (e.g., WordSwapGradientBased) with the target model?

I just wonder if there is a better way to manage these as right

[2020-12-19 06:15] RishabhMaheshwary commented on #385
Sure, first I will try to understand the implementation of existing attack recipes and then will open a PR for the new recipe.

[2020-12-20 00:33] Hanyu-Liu-123 commented on #389
Hi duongkstn, thank you for bringing up this issue! I'll think about what we could do to avoid this and get back to you

[2020-12-20 01:52] xinjiefan opened #395 "Documentation on text attack for local models."
Thank you for providing such a good codebase! I am wondering could you please elaborate on using the code for locally trained models? I have used modified huggingface's code to train a local model. I am wondering what would an example to load the model, when the model is not standard huggingface code? (So different from https://github.com/QData/TextAttack/issues/235)

Many thanks to you!!

[2020-12-20 13:25] jinyongyoo commented on #395
Hi @xinjiefan. Could you specify whether it's a `transformers` model or a typical PyTorch model. If it's something you can load via `from_pretrained`, you can still use the method from #235. If it's a PyTorch model, the method for loading the model will still be similar.  For example, if it's a PyTorch LSTM model, what you can do is

[code]

Then, save the code as a python file, then pass the path

[2020-12-20 15:52] Tambup commented on #370
@Ges00 close this issue. Is solved.

[2020-12-20 17:09] #370 closed

[2020-12-21 17:44] jinyongyoo commented on #387
First off, I think we only have the blackbox part of the seq2sick available, so if you're interested is whitebox projected gradient method for classification models, we would have to create a transformation for projected gradient method (I'm not sure how similar it is to the current gradient-based word swap we have).

[2020-12-21 23:14] xinjiefan commented on #395
Thanks a lot for the explanation! It really helped! I will close the issue.

[2020-12-21 23:14] #395 closed

[2020-12-22 00:33] kanishkamisra opened #397 "Understanding labels of pretrained models"
Hi, thanks for this wonderful project! I was trying to use your pretrained models for an NLI evaluation task but I got a little confused on what labels do the ambiguously labelled "LABEL_0", "LABEL_1", and "LABEL_2" correspond to. Any pointers would be appreciated!

My preliminary guess is that LABEL_1 is "Entailment" but that's just by running some sanity checks such as using the same premise as

[2020-12-23 01:11] lethaiq commented on #387
@jinyongyoo honestly I am not sure how the authors did it so, let's me try contacting them and ask how they change the loss function. Thanks anyway.

[2020-12-23 01:11] #387 closed

[2020-12-23 05:07] GMouYes opened #398 "Could not import CLAREAugmenter from textattack.augmentation"
**Describe the bug**
Hello, I encountered a problem with importing CLAREAugmenter. So far I have successfully imported and used all other augmenters as mentioned in the document, however failed on this one. I have no idea why am I failing on this specific augmenter, any ideas?

**To Reproduce**
Steps to reproduce the behavior:
1. from textattack.augmentation import CLAREAugmenter

**Screenshots or

[2020-12-24 18:37] Hanyu-Liu-123 commented on #398
Hi GMouYes,

What I think caused the problem is that you're using textattack version 0.2.14, which was released on Nov 18. We added the CLARE augmenter after that release so version 0.2.14 doesn't have the CLARE augmenter.

So one way to use the CLARE augmenter is to download the current master branch and start from there. Otherwise, when a new release comes out you should be able to run the CLARE

[2020-12-27 05:24] jinyongyoo commented on #398
@GMouYes Hi the newest version has been released. Please run `pip install --upgrade textattack` to run CLARE attack.

[2020-12-27 05:24] #398 closed

[2020-12-28 15:33] qiyanjun commented on #389
@Hanyu-Liu-123 this is definitely an issue. It also relates to the non-caching in the Augmenter class...

[2020-12-28 15:57] #359 closed

[2020-12-28 15:58] qiyanjun commented on #215
Please see https://github.com/QData/TextAttack/projects/2

[2020-12-28 15:58] #215 closed

[2020-12-28 16:14] #379 closed

[2020-12-29 05:14] anaivebird opened #404 "textattack/xlnet-large-cased-QQP got only acc:63.18% f1:0"
**Describe the bug**
textattack/xlnet-large-cased-QQP got only acc:63.18% f1:0
Model is got from huggingface model hub

**To Reproduce**
model link here:https://huggingface.co/textattack/xlnet-large-cased-QQP
ways to evaluate it on QQP:
run https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/text_classification.ipynb
only need to change model_checkpoint to "textatta

[2020-12-29 06:42] Hanyu-Liu-123 commented on #260
The masked-token augmentation has been merged into the master branch as the `CLAREAugmenter`!

[2020-12-29 06:42] #260 closed

[2020-12-30 09:29] ksmultiacc3 opened #405 "License of the pretrained models"
could you please tell what is the license of the pretrained models available in : https://textattack.readthedocs.io/en/latest/3recipes/models.html  ?

[2020-12-31 07:38] Opdoop commented on #372
@jinyongyoo Thanks! Create `2*num_gpu` works, but the speed seems just like `num_gpu` process. I'm wondering why increasing the worker per gpu didn't change the attack speed.

[2020-12-31 16:23] jinyongyoo commented on #372
@Opdoop For me, 2*num_gpu was a little bit faster, but not by much. It might just be that having more process and another process on the same gpu causes some overhead that limits how much performance gain we can achieve.

@lethaiq , @Opdoop, @ziqi-zhang I've actually been working on TextAttack to make attacking on the API level easier. It's still on a draft stage, but if you guys are interested in

[2020-12-31 16:36] lethaiq commented on #372
@jinyongyoo this is definitely very helpful. I will try to have a look. Thanks for the works.

[2021-01-01 16:24] jinyongyoo commented on #405
TextAttack uses MIT license. But the most of the pretrained models are created and trained using the transformers library which uses Apache License 2.0. So I'm not sure if Apache License 2.0 also applies in this situation. I hope that answers your question.

[2021-01-02 13:47] Tambup commented on #375
The bug is solved with the new release 1adc909d748ecff2a74c7aceba58eff3744766b3.

[2021-01-02 13:47] #375 closed

[2021-01-02 16:51] #405 closed

[2021-01-04 01:08] Hanyu-Liu-123 commented on #269
I think the issue has been fixed so I'll close this issue!

[2021-01-04 08:34] Opdoop commented on #372
@jinyongyoo Thanks! By the way, have you ever seen `segmentation fault (core dumped)` when using parallel attack on large dataset?

[2021-01-05 13:03] jinyongyoo commented on #372
@Opdoop No I have not seen seg faults so far. When do you see that happening?

[2021-01-05 13:30] Opdoop commented on #372
@jinyongyoo  When I try to attack the entire dataset, `segmentation fault` always occur after a certain amount of adversarial example generated.  But use run_single_threaded, the code works fine. More detail left in https://github.com/QData/TextAttack/pull/406

[2021-01-05 15:28] Opdoop opened #407 "Sentence-level or paraphrase-based attack required"
**Is your feature request related to a problem? Please describe.**
Current textattack is substitute-based attack in char/word-level. Add some paraphrase-based attack could increase the diversity of attack recipe.

**Describe alternatives you've considered**
Found that other toolbox(https://github.com/thunlp/TAADpapers) already merge some sentence-level attack.

**Additional context**
Just wonderin

[2021-01-06 22:00] qiyanjun commented on #407
@Opdoop yes.. plan to work on that!  Can you help?

[2021-01-09 09:24] Opdoop commented on #407
The module that paraphrase-based attack needed is quite different from the module that TextAttack currently provided. I'm not sure how to merge paraphrase-based attack into TextAttack. 😅That's a hard task for me. I'll try it after the semester end.

[2021-01-10 03:11] lethaiq commented on #383
This bug is due to `_get_thought_vector` does not return embeddings for words not found in the embeddings.
Suggestion: we can modify the `WordEmbedding`` class in ``word_embedding.py`` to return index of a neural word such as ``the`` if out-of-vocabulary happens.

[2021-01-11 16:32] lethaiq commented on #372
@Opdoop I was facing the same error `segmentation fault` when running on Google Colab. However, I reset the environment and install only `textattack` and it works fine. So, this is might due to some conflicts between libraries? You can try a new conda environment and just install each library one by one to see if this works.

[2021-01-12 20:38] zmf0507 commented on #395
@jinyongyoo  can you tell how can I load pre-trained LSTM and Word-CNN models ?
I tried with model = LSTMForClassification(model_path="lstm-sst2") but it gives error that "Exception: Could not find lstm-sst2 on server."
Please let me know. thanks

[2021-01-12 20:51] zmf0507 commented on #395
@jinyongyoo  Also please tell whats the correct path to be passed for loading Word CNN models as well ?

[2021-01-13 06:06] zmf0507 opened #410 "How to load available pre-trained word-CNN and lstm models from textAttack model zoo"
Please tell how can  pre-trained word-CNN models be loaded and used for attack in python notebook. The tutorials only talk about loading Tranaformers models and not LSTMs and Word-CNNs.

[2021-01-13 08:16] suckseed5 opened #411 "Augmenting Chinese Text"
Hi,
    I have some questions to ask you about text expansion  and hope you can answer the following for me.Thank you very much.
    Does textattack augment support Chinese? I tested the Chinese text here and found that augmentation has not changed.

textattack augment --csv examples.csv --input-column text --recipe embedding --pct-words-to-swap .1 --transformations-per-example 3 --exclude-origina

[2021-01-13 16:12] ziqi-zhang commented on #383
@lethaiq Hi, I encountered a similar problem when using kuleshov attack but I don't understand how should I modify WordEmbedding class. Can you please illustrate the workaround more explicitly? Where and how should I modify the code. Thanks!!

[2021-01-13 16:16] lethaiq commented on #383
This is a quick fix for me. I replaced this function:
`
    def __getitem__(self, index):
        """Gets the embedding vector for word/id
        Args:
            index (Union[str|int]): `index` can either be word or integer representing the id of the word.
        Returns:
            vector (ndarray): 1-D embedding vector. If corresponding vector cannot be found for `index`, returns `None`.

[2021-01-13 16:22] ziqi-zhang commented on #383
I'll try it!! Thanks!

[2021-01-14 04:15] ziqi-zhang commented on #366
@Opdoop @jinyongyoo Hi, I encountered a similar problem when using textbugger attack. Can you please tell me where and how should I change the code to hot-fix this bug? Thanks!

[2021-01-14 04:20] lethaiq commented on #366
@ziqi-zhang just pull the latest version it should already has the patch for this

[2021-01-16 08:30] Opdoop commented on #372
@lethaiq Thanks a lot~ Reset environment and `segmentation fault` just go away.

[2021-01-16 08:33] lethaiq commented on #372
great

[2021-01-19 07:24] jinyongyoo commented on #411
@suckseed5 We are working on adding support for other languages (e.g. chinese) right now! So seems like what you're attempting to do right now is replace Chinese with English transformation. That probably won't work right out of the box.

[2021-01-19 07:43] suckseed5 commented on #411
@jinyongyoo Thank you very much for your suggestion.I will try it.

[2021-01-19 07:44] #411 closed

[2021-01-20 15:40] lethaiq commented on #410
@zmf0507 you can see the "loading external model" section in the main readme file. basically you have a python file that loads your external model together with its tokenizer, and textattacker will take care the rest.

[2021-01-20 19:35] QuintinPope opened #412 "Possible issue with implementation of CLARE"
**Describe the bug**
I think textattack's CLARE implementation differs from the paper (though I may be wrong)

**To Reproduce**
Steps to reproduce the behavior:
CLARE invokes BeamSearch with a beam width of 1.

As I understand textattack's BeamSearch method, given an initial text, textattack uses CLARE to generate a set of perturbations, chooses the perturbation that most changes the classificatio

[2021-01-21 18:51] qiyanjun commented on #404
@tahmid-kazi can you check this model?

[2021-01-22 15:33] qiyanjun commented on #377
This is solved by PR https://github.com/QData/TextAttack/pull/400

[2021-01-22 15:33] #377 closed

[2021-01-22 15:34] qiyanjun commented on #348
Good enhancement to add.. Will update.

[2021-01-26 10:39] zmf0507 opened #413 "padding input sequence changes the model's prediction"
while using text-attack pre-trained LSTM models like lstm-sst2, for some sentences , the model gives different predictions when input is padded and when its not. Ideally padding should not affect the model output. Can anyone give some insight and help me figure this out?
I am evaluating the model for single sentence (batch-size=1)
I pass my sentence string to tokenizer.encode() to get input_ids wh

[2021-01-26 13:18] tpatzelt commented on #123
Hello,
I agree that this is not an easy issue and might require some structural changes. Do you think this will be implemented at some point? Having torch as hard requirement seems reasonable, but also requiring tensorflow and spacy no matter tokenizer or features are used makes it hard for me integrate TA into my current project. Thank you

[2021-01-26 17:27] qiyanjun commented on #413
@tahmid-kazi can you take a look at this?

[2021-01-27 15:52] Opdoop opened #414 "Attack to custom NLI dataset"
In https://github.com/QData/TextAttack#dataset-from-a-file, example formation is (input, output). As:
[code]
But for NLI dataset, every input instance is 2 paired sentences. How to formate a custom NLI dataset (attack bert-based model)? Any hint would be helpful~

p.s. Command-line like `textattack attack --recipe textfooler --model bert-base-uncased-snli --num-examples 100` could attack NLI model

[2021-01-29 07:59] Opdoop commented on #414
Solved. For NLI dataset, `dataset` is still a iterable of `(input, output)` pair. Below is an example:
[code]

[2021-01-29 07:59] #414 closed

[2021-01-29 09:15] ouhongxu opened #415 "Attacking multilingual models"
When I was running ''Tutorial 7: Attacking multilingual models" in Docs, I had the following problems ：
![image](https://user-images.githubusercontent.com/60462613/106255824-79caad00-6255-11eb-9445-792dfff69081.png)

[2021-02-03 15:02] lethaiq commented on #413
@zmf0507 from my experience when working with textattack, if I use textattack's pretrained model, I should use its provided tokenizer as well, so make it consistency. If I use my own external model, I will use my own tokenizer. In other words, if I train with padding tokens, I should test with padding tokens and vice versa.

[2021-02-03 15:57] qiyanjun commented on #415
@cogeid can you check this?

[2021-02-03 20:04] zmf0507 commented on #413
@lethaiq This makes sense but the sole purpose of padding tokens is to make variable-length sequences the same size in a batch and padding-tokens are not processed while training. That is, model learns to ignore them. Therefore, padding and no-padding should not have any differences in results. Am I right ?
This difference is just pointing towards some mistake in training the models. That's why i

[2021-02-03 22:56] farigys opened #416 "Unsuccessful checks on minimize_bleu.py"
Hi,

Seems like minimize_bleau.py has failed some checks, and I could not see which checks it failed. Do these fails affect the code in any way?
https://github.com/QData/TextAttack/blob/b7b036aa362029b8876347af00fa7dcbac2967bc/textattack/goal_functions/text/minimize_bleu.py#L17

[2021-02-04 14:39] #415 closed

[2021-02-04 14:42] qiyanjun commented on #413
@lethaiq yes. That was our design

[2021-02-20 03:33] michaelkarlcoleman commented on #308
@github-actions LOL

Wish I could solve all of my problems so easily.

[2021-02-22 09:17] gpengzhi opened #423 "Could you add a list of the supported languages of textattack?"
Hi, thanks for this amazing work.

I am wondering if you can specify the supported languages for each data augmenter? Or providing a list of the supported languages of `textattack` in general. That will be very helpful.

[2021-02-23 13:37] nadavbeno opened #424 "Can't import EmbeddingAugmenter in windows 10"
After installing the package (from pip install or from setup.py)
I have the following python code:
`from textattack.augmentation import WordNetAugmenter, EmbeddingAugmenter, EasyDataAugmenter, CharSwapAugmenter`

but I get an error:
Exception: Could not find word_embeddings\paragramcf on server.

I tried to clear the cache but nothing helps.
What can I do?

[2021-02-25 12:40] gpengzhi opened #426 "The expected functionality of `DeletionAugmenter`"
**Describe the bug**

Hi, I want to know the functionality of `DeletionAugmenter`. This augmenter returns only one word even though I set `pct_words_to_swap` to be 0.1.

**To Reproduce**
[code]

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots or Traceback**
If applicable, add screenshots to help explain your problem. Also, copy and paste

[2021-02-26 19:43] zmf0507 opened #427 "pre-processing required for getting same results on your pre-trained lstm/cnn models"
Hello,
Can you tell me what exact text-cleaning and pre-processing steps are required on input text if I am evaluating them on text-attack pre-trained lstm and CNN models?
As of now, I remove special characters, punctuations and numbers and pass it to tokenizer.encode().
Please let me know.

[2021-03-08 14:33] farigys opened #429 "Return value confusion"
https://github.com/QData/TextAttack/blob/30e21cd85d2bbfd53802fb716e1593d0f7ea9ca6/textattack/goal_functions/classification/untargeted_classification.py#L32

Will this return statement ever return `target_max_score`? This `elif` is specifically accessed when the first `if` fails, that is there was no `target_max_score` provided.

[2021-03-09 15:40] akkarimi opened #431 "When augmenting, extra quotation marks are added automatically"
I'm trying to augment some data using the augmentation methods (charswap, clare, wordnet, etc).
In the augmented file, however, I see that whenever there was a quotation mark in the original text, the augmenter has put other extra quotation marks. For example the following is the result of applying wordnet attack:

Original sentence: I have in the past gotten superfine sandpaper and "fixed" the ed

[2021-03-10 06:41] fyse-nassar opened #432 "Offset argument doesnot work with custom dataset"
**Describe the bug**

To do an attack on the custom dataset, the command as per the documentation is

`textattack attack --recipe clare --model albert-base-v2-yelp --dataset-from-file my_dataset.py --num-examples 500 --num-examples-offset 0 --shuffle False --log-to-csv "./attack_output.csv" --csv-style plain
`

The above command iterates over the dataset from the first example. But if I want to sk

[2021-03-10 17:44] shensmobile commented on #424
It's because os.path.join is joining the download link for S3 using mixed slashes.  You'll see in the terminal the following statement before the error:

`textattack: Downloading https://textattack.s3.amazonaws.com/word_embeddings\paragramcf.`

The mis-matching slash before paragramcf will cause the download to fail.  I fixed this by adding `.replace("\\","/")` after the os.path.join() command in

[2021-03-19 17:04] akkarimi commented on #426
I'm having the same problem.
I'm trying to augment some data with EDA where DelectionAugmenter class is also used.
Some of the augmented lines that are returned contain only one word while the original consists of more than 20 words.

[2021-03-23 06:45] 24kb-star opened #435 "WordSwapInflections can't be used."
**Describe the bug**
I used WordSwapInflections, but it can't generate new sentence. I debug the code and found the pos model's ouput isn't corresponding with self._enptb_to_universal in word_swap_inflections.py. When I modify the code, it works.

**To Reproduce**
First use TextAttack, the pos model was download itself.

**Expected behavior**
A clear and concise description of what you expected to

[2021-03-24 16:53] ydennisy opened #436 "Importing `augmentation` fails."
**Describe the bug**
Importing any augmentor fails.

**To Reproduce**
[code]

**Expected behavior**
No error

**Screenshots or Traceback**
[code]
**System Information (please complete the following information):**
 - OS: [e.g. MacOS, Linux, Windows]
 - Library versions (e.g. `torch==1.7.0, transformers==3.3.0`)
 - Textattack version

**Additional context**
Add any other context about the problem h

[2021-03-25 02:04] lijianwen96 opened #437 "Error when using recipe `pwws` to attack `bert-base-uncased-sst2` with command `--query-budget 100`"
**Describe the bug**
When using recipe `pwws` to attack `bert-base-uncased-sst2` with command `--query-budget 100`, there is an error `IndexError: list index out of range`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run following command `textattack ...`
`textattack attack --recipe pwws --model bert-base-uncased-sst2 --query-budget 100`

**Screenshots or Traceback**
[code]

**System Inf

[2021-03-31 14:48] RishabhMaheshwary commented on #437
The ```search_over``` flag is set to ```True``` when the number of queries exceed the query budget. Before [this](https://github.com/QData/TextAttack/blob/e343f6dbfd931e282412f255ca04b53467c429ac/textattack/search_methods/greedy_word_swap_wir.py#L136) you can add a check. If search_over is ```False``` proceed else return ```initial_result```.

[2021-04-01 03:09] lijianwen96 commented on #437
Thank you very much, I will try it later.

[2021-04-01 09:44] penguinnnnn commented on #414
So the form of dataset should be:
[code]
Right?

[2021-04-01 23:56] veronica320 commented on #397
Same issue here. A couple of sanity checks actually give inconsistent results, e.g. using [bert-base-uncased-snli](https://huggingface.co/textattack/bert-base-uncased-snli), "I love you. I love you" has LABEL_2 as the prediction, while "I like you. I like you" would have LABEL_1.
Could it be clarified please? Thanks in advance!

[2021-04-10 07:10] ddehun opened #444 "How to get the task name of the victim model during the transformations"
Hi. First of all, thank you for your awesome project!

I'm trying to add a new recipe with MLM-based substitution (e.g., BAE or CLARE).
And I've struggled to load the BERT that is also trained on the same dataset with the victim model.
For instance, if the victim model is some arbitrary model fine-tuned on the YELP polarity dataset, I want to use the BERT that is also trained on YELP for word subs

[2021-04-12 06:52] matrix1001 opened #445 "Compatible problem in Win10 & ssl certificate problem"
**Describe the bug**
As Title

**To Reproduce**
Steps to reproduce the behavior: (platform: win10, python3.6)
1. Run following command `textattack`
2. See error

**Screenshots or Traceback**
First bug
![image](https://user-images.githubusercontent.com/32097922/114352311-5188f400-9b9e-11eb-98d9-716e85282fa0.png)
Second bug
![image](https://user-images.githubusercontent.com/32097922/114352362-5d74b6

[2021-04-14 23:10] Ashiq5 opened #447 "Peek dataset command on dataset from file does not work"
**Describe the bug**
Peek dataset command on custom dataset returns failure.

**To Reproduce**
Steps to reproduce the behavior:
Run following command `textattack peek-dataset --dataset-from-file <*.py>`

**Expected behavior**
Expected to see basic statistics about the custom dataset.

**Screenshots or Traceback**
![image](https://user-images.githubusercontent.com/14335681/114791501-a8d0c500-9d54-1

[2021-04-17 15:31] Ashiq5 opened #449 "Maximum recursion depth exceeded"
**Describe the bug**
Returns RecursionError: maximum recursion depth exceeded when trying to train LSTM model adversarially with TextBugger framework on IMDB dataset.

**To Reproduce**
Steps to reproduce the behavior:
1. Run following command `textattack train --model lstm --dataset imdb --attack textbugger --check-robustness --max-length 2500 --batch-size 64 --epochs 50`
2. See error

**Expected

[2021-04-18 00:00] LilyNLP opened #450 "Question about using custom dataset"
I want to attack a custom dataset by using --dataset_from_file custom_dataset.py. Could you please indicate which form should the custom_dataset.py be like? Thank you!

[2021-04-21 13:15] matrix1001 opened #451 "Words diff suggestion"
**Describe the bug**
![image](https://user-images.githubusercontent.com/32097922/115559424-48a6c980-a2e6-11eb-8e8e-f72d543aa3a4.png)

**To Reproduce**
Run following command `textattack attack --model cnn-ag-news --recipe textbugger --num-examples 10`

**Expected behavior**
As shown in the pic, the real `Average perturbed word %` should not reach that high. I found the reason in `attack_recipes/sha

[2021-04-26 13:05] ArvinZhuang opened #456 ""WordSwapQWERTY" transformation raises "IndexError: Cannot choose from an empty sequence""
**Describe the bug**
`WordSwapQWERTY` transformation will raise `IndexError: Cannot choose from an empty sequence` in some edge cases (See an instance below).

**To Reproduce**
[code]
[code]
The problem is that `'@'` has no `self._keyboard_adjacency` defined, thus the method of `def _get_adjacent(self, s):` will return an empty list which results in random.choice from nothing.

[code]

**System In

[2021-04-27 19:44] devvrit opened #457 "Question related to adversarial training"
I'm not sure but are you guys making the model to eval() mode when attacking during adversarial training?
I looked at the code and possibly missed noticing that. So thought would double-check here.

Thanks,
Devvrit

[2021-04-30 00:44] devvrit opened #458 "Bug in TextAttack/textattack/commands/train_model/run_training.py: Line 555"
It's currently `_save_model_checkpoint(model, args.output_dir, args.global_step)`
Whereas there's no `args.global_step`. I think should just be `global_step`

Thanks,
Devvrit

[2021-04-30 13:52] jinyongyoo commented on #458
@devvrit thanks for reporting it. Will get it fix right away.

[2021-05-01 20:32] RishabhMaheshwary commented on #450
Hi, you can take a look at this #282.

[2021-05-01 20:43] RishabhMaheshwary commented on #457
Yes, see [this](https://github.com/QData/TextAttack/blob/10309a32deb9b7daeafa3434b4a3bfea990f442b/textattack/commands/train_model/run_training.py#L476) in `run_training.py`.

[2021-05-06 12:01] ryanachi opened #459 "running CLARE recipe causes TypeError: 'NoneType' object is not callable"
**Describe the bug**
When running textattack's CLARE recipe, it fails to generate more than one result, exiting due to the following error:
`TypeError: 'NoneType' object is not callable
`
(please see the paste2 for full details)

**To Reproduce**
Steps to reproduce the behavior:
1. Run following command `textattack attack --recipe clare --model bert-base-uncased-ag-news --num-examples 20
`

**Expe

[2021-05-22 10:22] javirandor opened #463 "Error documenting fast-alzantot recipe"
Hello!

I just wanted to report that the correct recipe for the improved Alzantot Genetic Algorithm is actually `faster-alzantot` and not `fast-alzantot` as it is stated in the documentation. It should be updated either in code or documentation.

Sample execution for reproduction

[code]

Output
[code]

Best!

[2021-05-22 10:44] javirandor commented on #410
I created a sample script to load these models to a Python object reusing some code from the library. This code loads AGNEWS CNN from TextAttack. Notice it is important to change `num_labels` according to the problem that you are trying to solve and the folder to load pretrained model.

[code]

If you want, you can store the previous code as a `.py` to reuse it somewhere else and then load to a Py

[2021-05-23 23:35] jxmorris12 commented on #463
Thanks @javirandor -- we'll fix that right away!

[2021-05-23 23:42] jxmorris12 commented on #459
Looks like there was another error in the stack trace that was hard to spot:

[code]

This actually might be a problem with the flair version. @ryanachi can you run the following command and paste the output? `pip show flair` (the most recent FLAIR version is 0.8: https://github.com/flairNLP/flair)

[2021-05-23 23:49] jxmorris12 commented on #457
Hi @devvrit. Looks like the model is still in training mode when the adversarial examples are generated -- I'm looking at this file: https://github.com/QData/TextAttack/blob/master/textattack/commands/train_model/run_training.py

This decision is, at least, questionable – thanks for bringing it to our attention. We can discuss it further if you want. (The model is in eval mode when evaluated to ge

[2021-05-23 23:49] #457 closed

[2021-05-23 23:49] #463 closed

[2021-05-23 23:49] #458 closed

[2021-05-23 23:54] jxmorris12 commented on #435
@24kb-star you mentioned that you made a modification to the code to get this type of word-swapping to work on your system. Can you explain further?

[2021-05-23 23:55] jxmorris12 commented on #450
@RishabhMaheshwary thanks for the answer! Yep, @LilyNLP  -- the issue Rishabh referenced should explain how to format the file to pass via --dataset_from_file. Feel free to reopen the issue if you have more questions!

[2021-05-23 23:55] #450 closed

[2021-05-24 00:01] jxmorris12 commented on #456
Hi @ArvinZhuang -- you're 100% right that we should return [] when there's nothing in the adjacency list. Although it would be nice to add neighbors for special characters like @, that depends a lot on your keyboard, and just isn't really high on the priority list right now. (Btw, I'm working on a fix as we speak!)

[2021-05-24 00:02] jxmorris12 commented on #436
Hi @ydennisy  -- it looks like you're getting an error trying to import the `flair` package. Do you mind running `pip install flair --upgrade` and trying again? You also might run `pip show flair` to make sure your FLAIR is on the newest version, v0.8.

[2021-05-24 00:08] ArvinZhuang commented on #456
Hi @jxmorris12, thanks for fixing this issue. I also noticed that many special characters will not reach `_get_replacement_words` (`@` is an exception), thus it is fine that they are not in the adjacency list, my guess is that they are removed before passing into `_get_replacement_words`. Hope this information can help you as well.

[2021-05-24 00:49] #429 closed

[2021-05-24 00:50] #456 closed

[2021-05-25 18:06] devvrit commented on #457
Hi @jxmorris12. Thanks for clarifying.
Yes, I believe it should be in eval mode when doing attacks. In the vision community too, that's what I've mostly observed. Moreover, the aim of the attacks is to generate perturbation that could fool the model at that point (whenever it's attacked). Hence the model should be in eval mode because that's how we'd be using it in practice if we were using the mo

[2021-05-25 21:12] jxmorris12 commented on #457
agree @devvrit -- this is an interesting experimental question!

[2021-06-01 14:38] #447 closed

[2021-06-01 14:38] Ashiq5 commented on #447
Linked #448.

[2021-06-03 23:34] jxmorris12 commented on #447
awesome @Ashiq5 - thank you!!!

[2021-06-10 07:30] chong-z opened #471 "Add new attack recipe SO-Beam"
**Request to add a new attack recipe**:
Zhang, Chong, Jieyu Zhao, Huan Zhang, Kai-Wei Chang and Cho-Jui Hsieh. “_Double Perturbation: On the Robustness of Robustness and Counterfactual Bias Evaluation._” NAACL (2021).

**Paper**: https://www.aclweb.org/anthology/2021.naacl-main.305/
**Code**: https://github.com/chong-z/nlp-second-order-attack

**Brief Outline**:
The paper proposes a novel _second-

[2021-06-10 07:32] chong-z commented on #471
Looks like you are making a big update in #428. Please let me know when it would be a good time to start working on the PR. Thanks!

[2021-06-10 13:28] dsvrsec opened #472 "Query regarding Seq2sick attack"
Hi,I am trying to run seq2sick on Machine Translation Pretrained transformer model (English to German) and also on custom pretrained model (English to Spaish).
There are some issues I find w.r.t pretrained model.
1.The attack is performed even the target translation(ground truth) is not the same as predicted translation.
Ex: deberias tenias que querias que querias que viniera solo .(Predicted Tran

[2021-06-16 13:38] jxmorris12 commented on #472
Hi @dsvrsec --

Looking at the [seq2sick attack recipe](https://github.com/QData/TextAttack/blob/master/textattack/attack_recipes/seq2sick_cheng_2018_blackbox.py), this recipe is using the [NonOverlappingOutput](https://github.com/QData/TextAttack/blob/9a67b9eff09a2b4382d3ecc0ddfe0afba5039162/textattack/goal_functions/text/non_overlapping_output.py#L17) goal function. So the algorithm in question

[2021-06-18 17:42] dsvrsec commented on #472
Thank you for the reply. There is one issue with I am recently getting with custom model(I am not sure if it is due to updated code).
When I try to run the Attacker function (by following the notebooks in docs folder),I get this error.
`~\.conda\envs\tf_env2\lib\site-packages\textattack-0.2.16-py3.6.egg\textattack\goal_functions\text\text_to_text_goal_function.py in _process_model_outputs(self, _,

[2021-06-30 02:04] yananchen1989 opened #481 "Can I use the latest versions of tensorflow and torch?"
Hello, I am using TextAttack in my project which requires the latest versions of tensorflow and torch(tf:2.3.1  torch:1.9.1).
However, I find that in TextAttack' requirements, the torch version is set to 1.7.1, which is not the latest version.
So can I use the latest versions of tensorflow and torch while using TextAttack ?

[2021-07-06 22:03] jxmorris12 commented on #481
Hi @yananchen1989 -- we depend on the [flair](https://github.com/flairnlp/flair) NLP package, which doesn't yet support torch >= 1.8.0, causing this whole mess of dependencies. We know this can be frustrating, sorry. We're working on removing this flair dependency so that we can upgrade all of our packages.

for now, please try to create a textattack-dependent virtual env so you don't have to worr

[2021-07-06 22:03] jxmorris12 commented on #481
(Oh, I might add that you can try just upgrading torch/tf and see if flair breaks behind the scenes. It very likely won't.)

[2021-07-11 21:48] bksaini078 commented on #437
Hello,

I am also facing the same issue. Any information or workaround to solve the issue. ?

[2021-07-12 19:20] veronica320 commented on #397
Hi there, is there any update on this?
Thanks in advance!

[2021-07-21 19:49] #426 closed

[2021-07-21 20:13] qiyanjun commented on #451
this is solved by https://github.com/QData/TextAttack/pull/453

[2021-07-21 20:13] #451 closed

[2021-07-21 20:19] qiyanjun commented on #471
@chong-z we finished the major API-rework! Please help us PR your recommenced recipe SO-Beam!

[2021-07-22 14:09] jinyongyoo commented on #481
The issue with Flair was that pytorch 1.8 broke backward compatibility with previously trained LSTM models. This issue has been fixed with Pytorch 1.9. As long people do not use Pytorch 1.8, there is should be no issue. I requested to the Flair developers to update their requirements and make a new release (https://github.com/flairNLP/flair/issues/2137). They did update their requirements but have

[2021-07-22 19:02] sanchit97 opened #485 "Missing config file in pre-trained Textattack models (CNN, LSTM)"
**Describe the bug**
Running attacks on Textattack's custom pretrained models - `WordCNNForClassification `and `LSTMForClassification` on AG-News dataset (any dataset with more than 2 classes) is unsuccessful. This is because the file `config.json` is used to initialize model before the state dict is loaded and there is no `config.json` file present in the pre-trained model download from s3. Right

[2021-07-22 19:05] sanchit97 commented on #485
This was originally pointed out by @qiyanjun. Maybe requires a re-upload of Textattack models or change in `config.json` logic.

[2021-07-22 23:23] qiyanjun commented on #485
handling by https://github.com/QData/TextAttack/pull/486

[2021-07-23 00:23] qiyanjun commented on #389
solved by https://github.com/QData/TextAttack/pull/368

[2021-07-23 00:23] #389 closed

[2021-07-23 17:28] jinyongyoo commented on #485
We need to upload separate config.json for each model.

[2021-07-23 17:30] qiyanjun opened #488 "bugs in "textattack train”"
1. .. training issues:
e.g.
[code]

2. model loading issue, e.g.,
[code]

[2021-07-24 00:41] #481 closed

[2021-07-24 00:42] qiyanjun commented on #445
I believe this is solved..

[2021-07-24 00:42] #445 closed

[2021-07-24 00:43] #388 closed

[2021-07-24 01:35] XiYuan68 opened #489 "is scipy==1.4.1 really neccessary?"
**Is your feature request related to a problem? Please describe.**
I am trying to install textattack via pip but encountered a compiling error with scipy==1.4.1. I did some searches and found that many faced similar installation problems with this version of scipy. The current version of scipy I installed is 1.6.3 and it's working fine with many other adversarial attack toolbox such as foolbox, cl

[2021-07-24 01:58] 425267211 commented on #489
Here is the end of the scipy installation error:

[code]

I know you guys are not responsible for a scipy installation error but switching to a more popular version with less problem can always make people easier to try your good work.

[2021-07-24 16:00] qiyanjun commented on #489
0. For many of the dependent library issues, the following command is the first you could try:

pip install --force-reinstall textattack
Besides, we highly recommend you to use virtual environment for textattack use, see information here. Here is one conda example:

conda create -n textattackenv python=3.7
conda activate textattackenv
conda env list

[2021-07-24 22:37] XiYuan68 commented on #489
No, `pip install --force-reinstall textattack` doesn't work

Yes, I know using virtual environment is a work-around, but it kinda stops people from trying your toolbox when other adversarial attack toolbox can be more easily installed, especially if there is no obvious reasons to hang on the specific old version of scipy.

[2021-07-25 03:40] qiyanjun commented on #489
Thanks.. please see https://github.com/QData/TextAttack/pull/490

[2021-07-25 03:49] XiYuan68 commented on #489
Thank you for responding so fast! I'll try textattack on my project ASAP!

[2021-07-25 03:49] #489 closed

[2021-07-28 11:48] dangne opened #498 "Trainer's bug during adversarial training"
**Describe the bug**
Bug in [`File "textattack/trainer.py", line 213, in _generate_adversarial_examples`](https://github.com/QData/TextAttack/blob/d129e7b8b004b295fc5a26241636c6d9cc313a51/textattack/trainer.py#L213). Missing a column for the "adversarial_example" tag.

[code]

The list of adversarial examples declared in `File "textattack/trainer.py", line 202, in _generate_adversarial_examples`
c

[2021-07-28 17:13] qiyanjun commented on #498
Thanks. Possible to submit a PR?

[2021-07-29 02:20] XiYuan68 opened #499 "Parallelization failed on tf.keras model"
**Describe the bug**
Attack parallelization failed on tf.keras model

**To Reproduce**
Steps to reproduce the behavior:
[code]

when `parallel=False` everything is fine

but when `parallel=True, num_workers_per_device=2`, error raised:

[code]

by the way, when loading a similar pretrained model containing a custom keras layer like:

[code]

parallelizaion raised a slightly different error:

[code

[2021-07-29 04:48] dangne commented on #498
I'm working on it.

[2021-07-30 10:25] ardeal opened #501 "StopIteration: Caught StopIteration in replica 0 on device 0."
Hi,
I am running bert + mrpc code, and experiencing the following issue.

Is there any solution for this issue?

[code]

[2021-07-30 16:36] qiyanjun commented on #488
More CLI bugs are found:

[code]

(textattackenv) server1:examples user3$ ./attack/attack_from_components.sh
Reusing dataset yelp_polarity (/Users/user3/.cache/huggingface/datasets/yelp_polarity/plain_text/1.0.0/a770787b2526bdcbfc29ac2d9beb8e820fbc15a03afd3ebc4fb9d8529de57544)
textattack: Loading datasets dataset yelp_polarity, split test.
textattack: Loading pre-trained model from HuggingFace mod

[2021-07-30 16:46] qiyanjun commented on #488
# CLI changes on augmentation… recent changes are not compatible with previous CLI augment

[code]

[2021-08-01 06:39] jinyongyoo commented on #501
Hi @ardeal. Could you also share the command/code you ran to reproduce this error? From this stack trace alone we cannot tell how TextAttack is involved in this error. Thanks!

[2021-08-02 16:23] qiyanjun commented on #499
@XiYuan68 possible to submit a PR?

[2021-08-03 01:14] #485 closed

[2021-08-03 14:06] XiYuan68 commented on #499
sorry I don't know how to fix this...

[2021-08-03 16:35] #436 closed

[2021-08-03 16:39] qiyanjun commented on #397
This certainly needs to be documented. It is more about datasets and how we use them. Please stay tuned.. trying to figure out with a student

[2021-08-06 11:03] zhujiangang opened #510 "How to guarantee the semantic preservation of the adversarial examples"
For example, if the gold function is untargeted classification, this means that we need to search adversarial examples (x') that satisfy F(x') != F(x). Is it correct?
If so, how can you guarantee the semantic preservation of x', I mean how can you guarantee that x' has the same label with x?
If we can guarantee this, why need after-attack accuracy? The more the adversarial examples are generated,

[2021-08-09 04:26] bangawayoo opened #511 "IndexError in Imdb dataset sample number 3286"
**Describe the bug**
IndexError occurs in `textattack/attack_results/attack_result.py line 104, in diff_color` when attacking a particular sample in the IMDB dataset for some attack recipes.
Error occurs in sample 3286 for pwws and textfooler, while for the bae recipe the code runs fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following command `textattack attack --model bert

[2021-08-09 20:57] preethiseshadri518 opened #512 "ModuleNotFoundError: No module named 'tensorflow_text'"
I get the error ModuleNotFoundError: No module named 'tensorflow_text' when I run `from textattack.augmentation import WordNetAugmenter`.

The same error applies when I try to import other augmentations described here: https://textattack.readthedocs.io/en/latest/2notebook/3_Augmentations.html. I was able to install TextAttack without any issues/conflicts.
<img width="523" alt="Screen Shot 2021-08-

[2021-08-10 05:11] #512 closed

[2021-08-10 05:12] preethiseshadri518 commented on #512
Resolved this on my own. Apologies -- didn't see there were optional dependencies.

[2021-08-12 19:08] sanchit97 commented on #499
This seems like a serious issue in `tf.keras` models. One of the possible reasons is that tf.keras models are non-picklable. A short hotfix is here: https://github.com/tensorflow/tensorflow/issues/34697
However, I could not get it to run completely but solved the pickling error. I will fix this once I figure out the multiprocessing error. Thanks for raising this issue @XiYuan68

[2021-08-12 20:32] sanchit97 commented on #499
So I was able to get this to work. The main problem lies with the `tf.keras` object. You have to nest it inside the `if __name__ == '__main__'`. Here's the code:
[code]

[2021-08-13 01:26] qiyanjun commented on #499
Great! Possible to add a tutorial in our doc?

Sent from my iPhone

[2021-08-13 02:55] XiYuan68 commented on #499
Thank You so much! It works and makes attacks much faster! BTW for my CNN networks there is a OOM error:

`tensorflow.python.framework.errors_impl.InternalError: CUDA runtime implicit initialization on GPU:0 failed. Status: out of memory`

and a little workaround can fix it:

[code]

[2021-08-13 14:42] sanchit97 commented on #499
@qiyanjun I am working on that right now but there are several problems. There are a lot of namespace issues if we do that inside a notebook because there are different namespaces shared by `iPython` and `multiprocessing`. I think a better, easier, and safer way would be to add it as a script. Torch multiprocessing expects all the methods to be in the imports with global scope. I will add a PR det

[2021-08-19 06:29] bangawayoo commented on #511
Updating to `textattack==0.3.3` fixes this issue.
I am closing this issue.

[2021-08-19 06:29] #511 closed

[2021-08-22 04:47] #499 closed

[2021-08-24 06:50] lis-kp opened #516 "Augmentation documentation"
hi, great work, thanks for sharing it. I wonder if there is a more detailed documentation about the data augmentation feature. thanks!

[2021-08-28 07:11] zedzx1uv opened #518 "How to get the number of queries for each sample, not just the average?"

[2021-08-28 07:30] #518 closed

[2021-08-31 06:32] lis-kp commented on #516
thanks!

[2021-09-03 06:09] cogeid commented on #397
You can check the labels by clicking on the following link. Scroll all they way to the bottom and you will see a model chart. The fourth column of the chart shows output types.

https://textattack.readthedocs.io/en/latest/3recipes/models.html

[2021-09-03 12:10] #397 closed

[2021-09-03 15:51] Hanyu-Liu-123 commented on #431
Hi akkarimi, the extra quotation marks are due to the complexity of the CSV library in handling double quotation marks. Unfortunately due to the ambiguity in CSV file formats we still need to use that library if we want to operate on CSV files.

There're a few ways to work-around this issue:

  1. Substitute double quotation marks with single quotation marks
  2. Instead of reading from a CSV file

[2021-09-10 14:08] Hanyu-Liu-123 commented on #424
I think this issue has been fixed by pull request #461 so it will be closed.

[2021-09-10 14:08] #424 closed

[2021-09-15 22:47] EmmaBYPeng opened #524 "Conflicting dependencies causing `pip-compile` to fail"
**Describe the bug**
`pip-compile` fails when trying to pin package versions for textattck 0.3.3 due to dependency conflicts.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Error:
[code]

**Expected behavior**
Able to run `pip-compile` and pin package versions for all of textattack's dependencies

**System Information (please complete the following information):**
 - OS: MacOS
 - Librar

[2021-09-19 17:15] wenh06 opened #526 "method _text_index_of_word_index of AttackedText has bugs"
**Describe the bug**
the searching range from the second (index from 1) word in the `pre_words` is not correct, which includes its previous word. If the current word is a substring of its previous word, then error comes. This can be clearly illustrated in the forthcoming example.

**To Reproduce**
Steps to reproduce the behavior:
1. Run following command `textattack ...`
2. Run following code ...

[2021-09-19 21:47] SJabin opened #527 "Difference between Failed and Skipped Attack"
Hi,

First of all, kudos to TextAttack for such a neat implementation of the adversarial attacks.

I was looking through the docs to understand the difference between the  Failed and Skipped attack but couldn't understand it quite yet. For example, below are the two results from the [TextAttack & AllenNLP](https://textattack.readthedocs.io/en/latest/2notebook/Example_2_allennlp.html#TextAttack-&-A

[2021-09-20 15:40] huberl opened #528 "Broken dataset-split flag"
When using the `dataset-split` CLI argument I get an error. Is there any workaround?

`!textattack attack --recipe pwws --model distilbert-base-uncased-ag-news --dataset-from-huggingface ag_news  --dataset-split train --num-successful-examples 10
`

[code]

**System Information:**
 - OS: Linux
 - Textattack version 0.3.3

[2021-09-20 16:17] marwanomar1 commented on #118
Hello, I am doing adv training for a model but I get the following error:
import textattack
import transformers
!pip install datasets
import datasets
from datasets import load_dataset

model = transformers.AutoModelForSequenceClassification.from_pretrained("bert-base-uncased")
tokenizer = transformers.AutoTokenizer.from_pretrained("bert-base-uncased")
model_wrapper = textattack.models.wrappers.Hug

[2021-09-20 16:17] marwanomar1 commented on #118
Can someone please help me with this errror.

[2021-09-20 16:38] jxmorris12 commented on #118
Thanks for the comment @marwanomar1 - can you post this as a new issue please? You commented on an old issue, which isn't really relevant.

But a quick diagnosis tells me you should be using our `HuggingFaceDataset` class to wrap the dataset instead of just importing it directly from huggingface datasets.  so in the code you posted, your dataset initializations might look something like:

[code]

[2021-09-20 16:41] jxmorris12 commented on #526
Thanks for the comments @wenh06 - I agree this is a big deal and should be fixed! The edge case you proposed ('in' as a substring of 'restrained') makes sense.

Can you propose a PR that fixes this bug? I'll review it myself (just tag me or add me as a reviewer).

this bug is critical, and I hope we fix it soon. Luckily, it only affects a very small subset of typical input data. Please let us know

[2021-09-20 18:40] marwanomar1 commented on #118
Thank you, Jack! I just posted this as a new issue and tagged you on it.

Thank you for your help in-advance.

[2021-09-20 20:03] marwanomar1 opened #529 "ValueError: Unsupported dataset schema #449"
I am running adversarial training on NLP models and I am getting an error " ValueError: Unsupported dataset schema ". When I run the following code:
import textattack
import transformers
from textattack.datasets import HuggingFaceDataset

model = transformers.AutoModelForSequenceClassification.from_pretrained("bert-base-uncased")
tokenizer = transformers.AutoTokenizer.from_pretrained("bert-base-un

[2021-09-21 03:55] wenh06 commented on #526
OK. I still have one pending PR #509. Can I make multiple PRs?

Another thing is that, I think over again about my `remove_space_before_punct` that it better not be used currently because of possible existence of quotations, for example `I like the film "The Lord of the Rings"`

[2021-09-22 13:26] jxmorris12 commented on #529
I suggested a fix that you haven't tried yet:

A quick diagnosis tells me you should be using our `HuggingFaceDataset` class to wrap the dataset instead of just importing it directly from huggingface datasets.  so in the code you posted, your dataset initializations might look something like:

[code]

[2021-09-22 18:52] marwanomar1 commented on #529
Thank you, Jack. Things are working now. In the same code above when I try the yelp dataset, it shows that it will take several days to complete because the size of examples is about 560.000.00.

Is it possible to reduce the number of examples to about 10k so that it would go faster?

[2021-09-22 23:54] jxmorris12 commented on #529
yes! I would try using the [rotten_tomatoes](https://huggingface.co/datasets/rotten_tomatoes) dataset instead. It's much smaller.

[2021-09-23 00:44] marwanomar1 commented on #529
Great. Many thanks. I really appreciate it.

[2021-09-23 12:41] wenh06 commented on #526
PR was merged, hence this issue should be closed.

[2021-09-23 12:41] #526 closed

[2021-09-23 13:15] marwanomar1 commented on #529
I am running the following code to test IMDB on WordCNN model-

It gives me error: NameError: name 'model_wrapper' is not defined

!pip install textattack
!pip install -U tensorflow-text
import textattack
import json
import os
import torch
from torch import nn as nn
from torch.nn import functional as F
import textattack
from textattack.model_args import TEXTATTACK_MODELS
from textattack.models.hel

[2021-09-23 17:38] jxmorris12 commented on #529
uhh, yeah, you still need this piece of the code:

[code]

[2021-09-23 18:25] marwanomar1 commented on #529
That worked. Many thanks!

[2021-09-24 10:46] marwanomar1 commented on #529
I ran the training on LSTM using command: textattack train --model-name-or-path lstm --dataset yelp_polarity  --epochs 50 --learning-rate 1e-5
so now I want to know which command to use to attack this same model which I just trained. I want to attack it with textfooler

[2021-09-24 14:49] jxmorris12 commented on #529
Pretty sure you have to create a model wrapper file and use the `--model-from-file` argument to `textattack attack`. Or you could just write a script that loads the model and runs attacks in the script.

[2021-09-24 14:49] #529 closed

[2021-09-27 15:45] alvarobartt opened #530 "ModuleNotFoundError: No module named 'tensorflow_text' on `textattack attack --help`"
**Describe the bug**

For the first time you install `textattack` with `pip install textattack` and you try to `textattack attack --help` it will start installing some NLTK dependencies, but at some point it will fail with the error code `ModuleNotFoundError: No module named 'tensorflow_text'`.

So that even though `tensorflow_text` is an optional requirement, it's mandatory so as to run `textatta

[2021-09-29 19:36] qiyanjun opened #532 "To Improve the Metric Module"
@sanchit97 This looks awesome! Thank you for the hard work! This will be a great addition to TextAttack.

One (just one I promise!) concern I have is the perplexity numbers from the test output. They looks a little bit too high (200-300, 1000-2000), though I cannot see any issues with the code. One reason might be that we're just using poor samples for testing, but maybe we can do a sanity check o

[2021-09-29 21:06] qiyanjun commented on #530
@alvarobartt please

pip install textattack[tensorflow,optional]

[2021-09-29 21:06] #530 closed

[2021-09-29 21:08] qiyanjun commented on #524
@EmmaBYPeng please try to have a virtual environment just for textattack... and

pip install --force-reinstall textattack

see page: https://textattack.readthedocs.io/en/latest/1start/FAQ.html

[2021-09-29 21:08] #524 closed

[2021-09-29 21:10] alvarobartt commented on #530
Sure @qiyanjun, but shouldn't an `ImportError` be raised detailing how to install the missing dependencies? Also, I assume that the `--help` flag shouldn't require any dependency, so the `try: ... except ImportError: ...` block should be implemented as far as I'm concerned 👍🏻  Anyway great job with the package!

[2021-09-29 21:34] qiyanjun commented on #530
I see. Great suggestion. Will add

Sent from my iPhone

[2021-09-30 07:32] alvarobartt commented on #530
I may create a fork and then a PR so as to address this, so I'll let you know! :+1:

[2021-09-30 18:29] qiyanjun commented on #530
Thanks

Sent from my iPhone

[2021-09-30 18:41] qiyanjun commented on #528
@Hanyu-Liu-123 can you take a look at this?

[2021-09-30 18:42] qiyanjun commented on #527
@Hanyu-Liu-123 can you take a look at this?

[2021-10-01 01:48] Hanyu-Liu-123 commented on #527
Hi Sjabin, thank you for your interest in TextAttack!

During an attack, a class named `GoalFunction` is called to to evaluate how well a perturbed attacked_text object is in achieving a specific goal. The list of goal functions that TextAttack implements can be found [here](https://github.com/QData/TextAttack/tree/master/textattack/goal_functions).

Specifically, how each goal function assigns SK

[2021-10-01 03:16] Hanyu-Liu-123 commented on #528
Hi huberl, thank you for letting us know about this issue!

As the error message indicates, the `_create_dataset_from_args()` function tries to change an element of a tuple. We'll update the method in the next days to fix this.

In the meantime, what you could do is substituting [this line](https://github.com/QData/TextAttack/blob/7d2de08771d6e1125e391d103ede43bfdaf88a62/textattack/dataset_args.py

[2021-10-01 10:27] qiyanjun commented on #532
@sanchit97 can you fix this issue?

plus, would you please add docstring in the metric module providing example codes for the API use?

[2021-10-01 10:41] marwanomar1 commented on #529
When I try to run an attack using my saved model. I use this command: !textattack attack --recipe textfooler --num-examples 100 --model ./outputs/2021-09-15-06-37-33-327512/best_model --dataset-from-huggingface imdb --dataset-split test
white_check_mark
eyes
raised_hands

but it gives me this error: ValueError: Error: unsupported TextAttack model ./outputs/2021-09-15-06-37-33-327512/best_model

Do

[2021-10-01 10:42] SJabin commented on #527
Thank you very much for the clarification. @Hanyu-Liu-123. Appreciate it.

[2021-10-01 12:08] qiyanjun commented on #527
@Hanyu-Liu-123 thanks

[2021-10-01 12:08] #527 closed

[2021-10-01 12:09] qiyanjun commented on #501
@ardeal can you reinstall textattack in a single environment... then rerun... seems a library dependent issue..

[2021-10-01 12:16] qiyanjun commented on #530
see PR  #535

[2021-10-01 14:31] alvarobartt commented on #530
Thanks @qiyanjun, that can do the work in the meantime to avoid issues with the installation 🎉

[2021-10-02 11:36] ydennisy opened #536 "Cannot import `CLAREAugmenter`"
**Describe the bug**
Cannot import `CLAREAugmenter`

**To Reproduce**
[code]
**Expected behavior**
Import augmentor

**Screenshots or Traceback**
[code]
**System Information (please complete the following information):**
[code]

[2021-10-02 11:37] ydennisy commented on #536
This seems related to flair, which I had an issue with a while back when installing this lib.

[2021-10-03 08:30] JieJayCao opened #537 "About how to load local BERT model and dataset."
**Textattack** is splendid work, thanks for your sharing.
I downloaded and used the huggingface bert-uncased-base model to fine-tune the fakenews classification work, and I got the    .bin file after training. And I want to load my local model and fakenews dataset to generate adversarial samples via Textattack. I want to know How to write **my_model.py** and **my_dataset.py**.

Looking forward to

[2021-10-03 18:41] jxmorris12 commented on #529
You're using `--model`, not `--model-from-file`, I think that's the problem!

[2021-10-03 23:36] qiyanjun commented on #528
see PR #533

[2021-10-03 23:36] #528 closed

[2021-10-03 23:38] qiyanjun commented on #537
@JieJayCao how about the following two pages:

https://textattack.readthedocs.io/en/latest/2notebook/4_Custom_Datasets_Word_Embedding.html

https://textattack.readthedocs.io/en/latest/1start/FAQ.html#use-custom-models

[2021-10-04 04:35] JieJayCao commented on #537
Thank you for your answer, and I try this method.
When I load my local my_dataset.py, I meet the error. **AssertionError: Loaded `dataset` must be of type `textattack.datasets.Dataset`.** In fact, I follow the instruction to make my dataset like [("text",label),....].

[2021-10-05 20:57] qiyanjun commented on #537
@Hanyu-Liu-123 mind to help with an example?

[2021-10-05 20:58] qiyanjun commented on #536
@Hanyu-Liu-123 mind to help on this? I remember you encountered similar issues..

[2021-10-05 23:01] Hanyu-Liu-123 commented on #536
Hi @ydennisy, thank you for bringing this problem into our attention!

The problem seems to originate from this [line](https://github.com/QData/TextAttack/blob/caacc1c8a7ea9acdd9c88e104abceb8e9352ae4a/textattack/trainer.py#L28r), in which the logger is initiated. You should be able to run the augmenter if the line is changed to `logger = textattack.shared.utils.logger` from what we have right now(

[2021-10-05 23:09] Hanyu-Liu-123 opened #538 "Extra character to substituted words when running CLAREAugmenter"
**Describe the bug**
When the CLAREAugmenter substitutes a word, there's an extra character that is added to the front (Ġ). The CLARE transformation method should remove that extra character before the transformed text is returned by the transformation.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
`['What I cannot create, I do sometimes not understand.']`

**Actu

[2021-10-09 03:31] qiyanjun commented on #449
@khieu @Ashiq5 we will make a PR to solve this..

[2021-10-09 03:31] qiyanjun commented on #449
@sanchit97  @Hanyu-Liu-123 possible to help to solve this?

[2021-10-09 04:19] sanchit97 commented on #449
@khieu Which versions of `textattack` are you using? I recommend to update to latest version `0.3.3`.
I see @Ashiq5 is using the `0.2.16` version but I could not reproduce the error.
The latest release has much different CLI parameters and it is highly recommended to upgrade to latest version.

[2021-10-09 13:02] khieu commented on #449
@sanchit97 i use `0.3.0` and use the code instead of CLI. will try to ugrade to see if it makes a difference. Thanks!

[2021-10-12 21:17] qiyanjun commented on #538
This is what I get running the same code:

['What Ġmistakes I cannot create, I do not understand.']

[2021-10-15 06:09] sanchit97 commented on #532
@qiyanjun Done in #540

[2021-10-18 12:00] YilingLiang opened #547 "something wrong with /textattack/datasets/huggingface_dataset.py"
**Describe the bug: **
I want to attack SNLI dataset , but when running following command ：
`textattack attack --recipe pwws --model bert-base-uncased-snli --num-examples 1000`，the begining 45 examples can be successfully attacked , while the 46th example, I got an KeyError in `/textattack/datasets/huggingface_dataset.py`:
[code]
**System Information: **
- OS: Linux
- Library versions: pytorch==1.

[2021-10-20 00:04] luomancs opened #548 "Attack extractive QA model."
Hi,
I wonder how to attack an extractiveQA model, where the model output include start_logit, and end_logit to represent the start and end position of  an answer span.

I try to use the following commend line to attack:
textattack attack --model-from-file my_model.py --dataset-from-file my_dataset.py --recipe morpheus --goal-function non-overlapping-output --num-examples 2

my_model.py looks like

[2021-10-20 20:51] jxmorris12 commented on #547
I think this bug is basically occurring because the SNLI test set in huggingface has all labels of -1.

[2021-10-21 07:54] wenh06 opened #549 "Search method of the DeepWordBug recipe might should be adjusted"
The [search method](https://github.com/QData/TextAttack/blob/18111055c44308fd05159ff72b02dc2eccfb2276/textattack/attack_recipes/deepwordbug_gao_2018.py#L77) of the `DeepWordBug` recipe is [`GreedyWordSwapWIR`](https://github.com/QData/TextAttack/blob/18111055c44308fd05159ff72b02dc2eccfb2276/textattack/search_methods/greedy_word_swap_wir.py#L25) WITHOUT specifying its `wir_method`. The default `wir

[2021-10-24 17:21] marwanomar1 opened #557 "Attacking a Hate Speech Detection Model"
I am trying to run an attack on a pretrained, fine-tuned model as follows:
!textattack attack --model cardiffnlp/twitter-roberta-base-offensive --recipe deepwordbug --num-examples 10

but its giving me the following error:
ValueError: Must supply pretrained model or dataset

I am not sure why it would not take the pretrained model above- is there anything I am doing wrong here?

@jxmorris12

[2021-10-26 14:31] #557 closed, assigned to nobody

[2021-10-29 17:11] Hanyu-Liu-123 opened #558 "Delete Transformation does not work properly with Augmentation"
When deletion is performed to `AttackedText`, its `modified_indices` is not updated in our current implementation. Since the deleted word is no longer present after the deletion, we need to find a way to record that modified index.

For example, suppose we have the text "Today is a good day" and delete the first word ("Today"), we can't set modified index to 0 because, after the transformation, in

[2021-10-29 18:01] donggrant commented on #444
This is also an enhancement that I think could be very useful. When trying to enhance Tutorial 9, I needed to find a faster alternative to the CamemBert model that was pretrained on the Allocine dataset. It was hard to locate an alternative dataset where the CamemBert model was pretrained on.

[2021-10-29 18:02] qiyanjun commented on #311
I think this is more a custom-data issue.

[2021-10-29 18:02] #311 closed

[2021-10-29 18:02] qiyanjun commented on #312
This is more a custom-data-issue

[2021-10-29 18:02] #312 closed

[2021-10-29 18:06] qiyanjun commented on #412
Great question. Our CLARE implementation has been agreed upon by the CLARE author.

[2021-10-29 18:06] #412 closed

[2021-10-30 23:41] stroypet opened #560 "Trying to run textattack --help out of the box fails with AttributeError: module 'tensorflow.tools.docs.doc_controls' has no attribute 'inheritable_header'"
Make fresh env, pip install textattack[tensorflow, optional], textattack --help fails. See below.

C:\Users\stanl
λ cd dev

C:\Users\stanl\dev
λ mkdir textattacktest

C:\Users\stanl\dev
λ cd textattacktest\

C:\Users\stanl\dev\textattacktest
λ python -m venv tavenv

C:\Users\stanl\dev\textattacktest
λ tavenv\Scripts\activate.bat

C:\Users\stanl\dev\textattacktest
(tavenv) λ pip install textattack[

[2021-10-31 06:01] Aniloid2 commented on #560
same problem here, try
`pip uninstall tensorflow-text`
`pip install tensorflow-text==2.5`

this should downgrade the tensorflow-text package and tensorflow, it works for me, not sure why. It must be some dependency problem

[2021-10-31 09:28] dangne opened #561 "Mismatch config filename for LSTM and CNN pretrained models"
**Describe the bug**

When loading CNN (with [`.from_pretrained()`](https://github.com/QData/TextAttack/blob/1918bfd1e3e7c015ee7fe717f10086f7007116c3/textattack/models/helpers/word_cnn_for_classification.py#L86)) or LSTM (with [`.from_pretrained()`](https://github.com/QData/TextAttack/blob/1918bfd1e3e7c015ee7fe717f10086f7007116c3/textattack/models/helpers/lstm_for_classification.py#L100)), the cod

[2021-10-31 10:09] stroypet commented on #560
@Aniloid2 Thanks that did it!

This should probably be raised as a bug.

[2021-10-31 13:40] YiLiuHFUT opened #562 "Why only attack positive samples？"
When I used the IMDB data set, I found that I used several attack methods in textattack. If it encounters negative, it will skip, and it will attack when it encounters positive. As a result, the labels of the final adversarial samples are all 0. (1to0), why is this?

[2021-10-31 19:10] dangne commented on #561
Another error is that the `train_args.json` of CNN and LSTM don't have the "architectures" key which will raise a KeyError at https://github.com/QData/TextAttack/blob/1918bfd1e3e7c015ee7fe717f10086f7007116c3/textattack/models/helpers/word_cnn_for_classification.py#L115
https://github.com/QData/TextAttack/blob/1918bfd1e3e7c015ee7fe717f10086f7007116c3/textattack/models/helpers/lstm_for_classificatio

[2021-11-01 14:23] #538 closed

[2021-11-03 14:33] qiyanjun commented on #560
please pip install textattack[tensorflow]

[2021-11-03 14:33] #560 closed

[2021-11-03 19:17] srujanjoshi commented on #561
With the Latest Version of TextAttack (installed from Source), I am unable to reproduce this issue,
OS: Ubuntu 20.04.3 LTS

This is the output that the provided code snippets produce:
![Screenshot from 2021-11-03 15-12-14](https://user-images.githubusercontent.com/44235961/140177853-dbeb3be9-4bb3-467e-b474-cb4bf0d41bcf.png)
![Screenshot from 2021-11-03 15-15-35](https://user-images.githubuserconte

[2021-11-04 01:23] srujanjoshi commented on #372
This issue seems to be dealt with in PR https://github.com/QData/TextAttack/pull/428

[2021-11-04 01:23] #372 closed

[2021-11-04 23:31] khieu opened #564 "Minor typos in the Model zoo docs"
**Describe the bug**
In the model zoo documentations, for the semantic similarity pretrained model, there is a consistent typo. Instead of `paraphrase`, the documents use the term `paraphase` which I think is not correct.

**To Reproduce**
in page such as:
https://textattack.readthedocs.io/en/latest/3recipes/models.html
search page for `paraphase`

**Expected behavior**
Should be spelled `paraphra

[2021-11-05 19:29] bdubbs09 opened #566 "AssertionError: Got 6 outputs for 1 inputs"
I trained a TFHub and Keras model on IMDB, then created a custom dataset to attack. Using 10 examples in the dataset, the TFHub model worked well attacking, but the Keras model fails to attack throwing the following trace:

`---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-12-abd29

[2021-11-08 18:19] jxmorris12 commented on #566
This is a pretty informative error message actually. It looks like your model isn't returning the expected shape of values. What does your model wrapper look like?

[2021-11-08 20:24] bdubbs09 commented on #566
`class CustomKerasModelWrapper(ModelWrapper):
    def __init__(self, model):
        self.model = model

    def __call__(self, text_input_list):
        # These two variables are unique to this problem
        num_words = 1000
        vocabulary = tf.keras.datasets.imdb.get_word_index(path='imdb_word_index.json')

        x_transform = []
        for i, review in enumerate(text_input_list):

[2021-11-09 14:59] stroypet opened #568 "apidocs have disappeared?"
**Describe the bug**
apidocs on readthedocs have disappeared for certain pages

**To Reproduce**
Steps to reproduce the behavior:
1. https://textattack.readthedocs.io/en/latest/apidoc/textattack.html < - navigate here

**Expected behavior**
There is text here describing things.

**Screenshots or Traceback**
![image](https://user-images.githubusercontent.com/6641202/140948128-5e466d75-291d-44f0-8f7

[2021-11-09 16:06] jxmorris12 commented on #566
Hi @bdubbs09 - I don't know the specifics of this model but I still think it's returning the wrong shape of things. I think it's supposed to be prediction scores for each class, for each input, so if text_input_list is a list of 3 sentences, this __call__ method should return an np array of shape [3, 2] where each row is a list of probabilities that sums to one. So a sample output in that case wou

[2021-11-10 03:31] qiyanjun commented on #568
https://github.com/QData/TextAttack/pull/570

[2021-11-10 03:31] #568 closed

[2021-11-10 12:07] mbednarski opened #572 "Misleading Tutorial 10: Explaining Attacking BERT models using Captum"
I would like to use TextAttack with the BERT model together with Captum. A tutorial covers the topic I am interested in -https://textattack.readthedocs.io/en/latest/2notebook/Example_5_Explain_BERT.html but It looks like broken in a half. It does not use any attributions computed from Captum.

I found another one: https://github.com/P3n9W31/TextAttack/blob/aa736d26b423f0f3d311e02353069899adc1744c/

[2021-11-10 14:16] qiyanjun commented on #572
@mbednarski many thanks for pointing out this. Please help us with a PR!

[2021-11-10 14:20] sanchit97 commented on #572
@mbednarski Do you think there should be an example of visualization of attributions in the tutorial? I understand that it might be required by a lot of users.
The code for `captum` visualize was not in a complete state during writing of this tutorial and we thought users can create their own `html` viz. It would be great if you can add that. Thanks!

[2021-11-10 17:14] mbednarski commented on #572
@sanchit97
I believe it should be - my colleague and I expected that it would be demonstrated. I can update the original article and submit PR for review.

[2021-11-11 14:51] donggrant commented on #562
This is probably just a limitation on generating adversarial examples for certain binary classification tasks. I assume that it's a lot harder to make a negative example positive through perturbations for most contexts. But this is probably something that should be considered for improvement. Can you list the attack methods that show this behavior?

[2021-11-11 17:43] donggrant commented on #444
If you go to the TextAttack Model Zoo (https://textattack.readthedocs.io/en/latest/3recipes/models.html) you can easily find corresponding models for victim models. In your example case, I was able to quickly find the Bert model that is also pretrained on the YELP polarity dataset on that page.
`
Yelp Polarity (bert-base-uncased-yelp)
datasets dataset yelp_polarity, split test
Correct/Whole: 963/1

[2021-11-11 20:00] donggrant commented on #432
I can't seem to reproduce this problem. I ran a short example with the custom dataset
`dataset = [("I enjoyed the movie a lot!", 1), ("Absolutely horrible film.", 0), ("Our family had a fun time!", 1)]`
and ran
`textattack attack --recipe clare --model albert-base-v2-yelp --dataset-from-file my_dataset.py --num-examples 500 --num-examples-offset 2 --log-to-csv "./attack_output.csv"`
and it success

[2021-11-11 20:01] #432 closed

[2021-11-12 02:09] donggrant commented on #177
![image](https://user-images.githubusercontent.com/48699101/141396054-7cd1990b-44b5-4f52-b270-00f4d58cf364.png)
^CPU Local^

![image](https://user-images.githubusercontent.com/48699101/141396071-76d49515-47cf-42b9-9530-d524226888cc.png)
^GPU Colab^

This seems to be a very old issue, but the command seems to give consistent number of queries now, so the problem is probably already fixed.

[2021-11-12 02:09] #177 closed

[2021-11-12 08:02] srujanjoshi commented on #564
#575 fixes the minor typo mentioned.

[2021-11-12 17:48] jxmorris12 commented on #177
Awesome, @donggrant - thanks for checking on this! I guess HuggingFace fixed their precision upstream.

[2021-11-12 19:02] #564 closed

[2021-11-13 21:44] #561 closed

[2021-11-15 09:06] gallilmaimon commented on #562
This happens for all attacks (such as textfooler and PWWS). The reason it skips the negatively classified input texts is because they are labeled positive, and wrongly classified as negative (and the attacks skip already wrongly classified texts).

All the samples are positive because IMDB dataset is sorted by labels and the '--num-examples' flag only takes the first samples.

However, it would be

[2021-11-15 11:22] YiLiuHFUT commented on #562
Thank you for your answer！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "QData/TextAttack"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月15日(星期一) 下午5:06
***@***.***&gt;;
抄送:&nbsp;"171305116 ***@

[2021-11-15 12:23] wongchit opened #578 "ImportError: cannot import name'HuggingFaceDataset' from'textattack.datasets"
Hello, when using the latest version of textattack, when running the __init__.py or __main__.py file, the error "ImportError: cannot import name'HuggingFaceDataset' from'textattack.datasets'" will appear. How to solve this small problem?

[2021-11-15 12:36] #578 closed

[2021-11-16 21:12] qiyanjun commented on #431
@Hanyu-Liu-123 I believe this is solved. Which PR?

[2021-11-16 23:54] srujanjoshi commented on #242
I would like to submit a PR that fixes this.  What would be good information to print out about the GoalFunctionResult and AttackResult classes?

[2021-11-17 13:02] Hanyu-Liu-123 commented on #431
I checked the main branch but the fix doesn't seem to be there. I remember creating a pull request but maybe deleted it by mistake. I'll fix the issue up by this week.

[2021-11-17 17:06] #562 closed

[2021-11-17 22:07] #295 closed

[2021-11-18 15:53] #383 closed

[2021-11-18 16:37] #413 closed

[2021-11-18 16:38] #435 closed

[2021-11-18 16:40] #410 closed

[2021-11-18 16:48] #566 closed

[2021-11-18 17:12] srujanjoshi commented on #427
Hey there unless you weren't figure this out by now, the answer to that question is dependent on the specific pre-trained model you plan to use.

The Model Zoo page in the documentation might be useful:
https://textattack.readthedocs.io/en/latest/3recipes/models.html#training-details-for-each-textattack-model

You can also check out TextAttack's model hub on HuggingFace:
https://huggingface.co/tex

[2021-11-18 17:12] #427 closed

[2021-11-18 17:18] srujanjoshi commented on #472
You can post the subsequent question/proposed resolution to the problem as a separate issue if you still having trouble with this problem.

[2021-11-18 17:18] #472 closed

[2021-11-18 17:24] #548 closed

[2021-11-18 20:01] srujanjoshi commented on #385
Closed since a corresponding Pull Request has been created.

[2021-11-18 20:01] #385 closed

[2021-11-19 16:44] donggrant commented on #256
It seems like the original issue/question you presented has been resolved. If you would or anyone else would like to pursue this enhancement for adding class-level flags, a PR can be created for that.

[2021-11-19 16:44] #256 closed

[2021-11-19 16:47] #547 closed

[2021-11-19 18:19] srujanjoshi commented on #431
Issue closed because there is a corresponding Pull Request in the works.

[2021-11-19 18:19] #431 closed

[2021-11-19 18:28] srujanjoshi commented on #404
Will check this model.

[2021-11-25 12:45] 25icecreamflavors opened #584 "Cannot use textattack (import not working)"
**Describe the bug**
I try to use this library and start with importing it. But it says "ImportError: cannot import name 'FailedAttackResult' from 'textattack.attack_results' (/opt/conda/lib/python3.7/site-packages/textattack/attack_results/__init__.py)"

**To Reproduce**
Steps to reproduce the behavior:
1. Run following command `!pip install textattack`
2. Run following code `import textattack`
4

[2021-11-26 08:43] d223302 opened #585 "total_adv_training_steps might be wrong?"
Hi, thanks for the amazing project.

I've got some questions about the calculation of total_adv_training_steps in trainer.py
[https://github.com/QData/TextAttack/blob/a0ec175fb3a94fdd25f8c10d3e4b29a7f6547a52/textattack/trainer.py#L613](url)
If the training_args.self.num_train_adv_examples is given with a float, which indicates the fraction of the training sets, won't the calculation seem a bit odd

[2021-11-30 12:25] marsssser opened #586 "bert-attack doesn't work very well"
Hello, author, when I attacked LSTM-IMDB with bert-attack, I would not continue the attack for a long time after the 11th data was attacked, that is, the 12th result of the attack could not be completed, I wonder if it needs a longer time to wait (more than 2 hour?). Or is there a problem with the code?

[2021-11-30 12:28] marsssser opened #587 "bert-attack doesn't work very well"
Hello, author, when I attacked LSTM-IMDB with bert-attack, I would not continue the attack for a long time after the 11th data was attacked, that is, the 12th result of the attack could not be completed, I wonder if it needs a longer time to wait (more than 2 hour?). Or is there a problem with the code? Thank you very much.

[2021-11-30 12:38] marsssser opened #588 "bert-attack doesn't work very well"
Hello, author, when I attacked LSTM-IMDB with bert-attack, I would not continue the attack for a long time after the 11th data was attacked, that is, the 12th result of the attack could not be completed, I wonder if it needs a longer time to wait (more than 2 hour?). Or is there a problem with the code? Thank you very much.

[2021-11-30 12:39] #588 closed

[2021-11-30 12:39] #587 closed

[2021-11-30 17:58] qiyanjun commented on #584
mind to share with us some details on your OS? terminal?

https://textattack.readthedocs.io/en/master/0_get_started/installation.html''

[2021-11-30 22:00] qiyanjun commented on #586
@marsssser are you using GPU?

[2021-11-30 22:01] qiyanjun commented on #586
what is the attack recipe name you used?

[2021-12-01 06:39] 25icecreamflavors commented on #584
I'm not sure about OS, I tried to use this library in kaggle notebooks.

[2021-12-01 18:16] DavidHerel opened #589 "CLARE implementation not working"
**Describe the bug**
I am not able to perform an attack to model with a clare recipe due to the error in the implementation. See attached picture.

**To Reproduce**
Steps to reproduce the behavior:
1. Run following command `!textattack attack --recipe clare --num-examples 1000 --model bert-base-uncased-mr --dataset-from-huggingface rotten_tomatoes --dataset-split test`
2. See error

**Expected beh

[2021-12-01 18:20] DavidHerel commented on #586
I have the same problem. Attack recipe that I used is the following:
`!textattack attack --recipe bert-attack --num-examples 1000 --model bert-base-uncased-mr --dataset-from-huggingface rotten_tomatoes --dataset-split test`

[2021-12-01 21:43] qiyanjun commented on #549
@wenh06 thanks for the question. In the deepWordBug code, the default was to replace with OOV..We implemented the recipe following the original code setup.

[2021-12-01 21:43] #549 closed

[2021-12-01 21:44] qiyanjun commented on #423
working on this. very close!

[2021-12-02 03:50] dangne commented on #586
I raised this issue several months ago in the slack channel, and the reason why BERT-Attack takes so long to run is due to this line https://github.com/QData/TextAttack/blob/776dfece2aab2c6e0b9015d04696528e1706246d/textattack/transformations/word_swaps/word_swap_masked_lm.py#L228
because:
1. The default value of `K` for BERT-Attack is 48 ([see in the code](https://github.com/QData/TextAttack/blob/

[2021-12-02 11:01] zloelias commented on #584
Google Colab
Python 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0] on linux

import textattack

`AttributeError                            Traceback (most recent call last)
<ipython-input-11-be23297719a4> in <module>()
----> 1 import textattack.shared

1 frames
/usr/local/lib/python3.7/dist-packages/textattack/__init__.py in <module>()
     17 from .attack import Attack
     18 from .attacker

[2021-12-02 11:53] Hanyu-Liu-123 commented on #589
Hi @DavidHerel , thank you so much for letting us know of this.

Is it possible to share a complete traceback that was on Collab so we get a better idea of what it's going on?

[2021-12-02 12:42] zloelias opened #590 "Broken loading datasets from huggingface-hub"
TextAttack 0.3.0 downgrade datasets module to datasets-1.2.1
And this brake downloading from huggingface-hub personal repo

**To Reproduce**
`! pip install textattack=="0.3.0"`
`from textattack.datasets import HuggingFaceDataset`
`dataset_name = 'zloelias/lenta-ru'
dataset = HuggingFaceDataset(dataset_name, None, 'test', dataset_columns=(['text'], 'labels'))`

FileNotFoundError: Couldn't find file

[2021-12-02 16:22] donggrant commented on #584
We had this issue earlier. The no "shared" attribute should be resolved if you run `!pip install textattack['tensorflow']` instead of just `!pip install textattack`.

[2021-12-02 16:23] #584 closed

[2021-12-02 16:48] qiyanjun commented on #586
@dangne thank you for the excellent comment! We plan to have a faster version of Bert-Attack based on your comment. If you are interested in doing it, please help us PR !~

[2021-12-02 17:38] DavidHerel commented on #589
`Traceback (most recent call last):
  File "/usr/local/bin/textattack", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/textattack/commands/textattack_cli.py", line 50, in main
    func.run(args)
  File "/usr/local/lib/python3.7/dist-packages/textattack/commands/attack_command.py", line 36, in run
    attacker.attack_dataset()
  File "/usr/local/lib/python3.

[2021-12-03 08:29] Hanyu-Liu-123 commented on #589
Hi @DavidHerel, so it turns out that the error is from a discrepancy between clare transformations and the sentence encoder. The full detail can be found in the linked pull request #591 (hopefully we merge it by this weekend).

In the meantime, you could use the [fix-StopIteration-bug branch](https://github.com/QData/TextAttack/tree/fix-StopIteration-bug) to run the clare attacks.

P.S. the clare

[2021-12-03 18:41] #589 closed

[2021-12-03 18:55] qiyanjun commented on #423
@cogeid can you add documentation on this?

[2021-12-03 19:05] qiyanjun commented on #590
@donggrant please help?

[2021-12-04 01:19] srujanjoshi opened #594 "Installation on Apple Silicon 🍎"
# Installation on Apple Silicon 🍎

This is a guide to install TextAttack on Machines which use Apple Silicon CPUs/GPUs. This guide is for running TextAttack natively on the underlying ARM architecture and not through Rosetta 2 translation.

NOTE: All of the features of TextAttack have not been thoroughly tested on Apple Silicon and there may be some issues. This guide has been written with the lat

[2021-12-04 02:28] qiyanjun commented on #594
This is excellent!

[2021-12-09 02:41] marsssser commented on #586
attack
--recipe
bert-attack
--model
bert-base-uncased-yelp
--num-examples
30

[2021-12-09 02:43] marsssser commented on #586
!textattack attack
--recipe
bert-attack
--model
bert-base-uncased-yelp
--num-examples
30

[2021-12-09 02:44] marsssser commented on #586
thank you very much!

[2021-12-09 10:24] dangne opened #595 "FasterGA attack recipe is not correct"
**Describe the bug**
Hi, I just reviewed the attack recipe for FasterGA ([Jia et al., 2019](https://arxiv.org/abs/1909.00986)), and it looks like the number of iterations is not set correctly.
According to their paper (page 6), they ran 40 search iterations on each example. In the code, it is set to 20.
https://github.com/QData/TextAttack/blob/aded95ed92c7639b32e6a661a5ef11adf1df91cc/textattack/at

[2021-12-09 16:56] jw-dong opened #597 "Unsupported dataset schema for SQuAD"
I noticed that there was a closed issue [#529](https://github.com/QData/TextAttack/issues/529) that described the same problem with using textattack.datasets loading SQuAD. However, I followed the instruction there within as below,

[code]

The problem seems persist. I still see the following error message,

[2021-12-11 10:12] d223302 commented on #585
I think this may be a bug, instead of a question.

[2021-12-11 10:15] d223302 commented on #437
When using the latest version, I am having the same issue when the budget is set to 250.

[2021-12-12 15:03] bksaini078 commented on #437
I was facing the same issue, and then I realized PWWS is not working when we have set max_query size to 100 but text length is also 100. This means, for some text in between PWWS need more than 100 queries to attack, if this is the case, you get this error message.
I tried with 6000 as max query and it is working fine. You can enter some other values too but make sure the PWWS **Number of queries

[2021-12-13 09:52] bl4bl4hhh opened #598 "How to load custom model using python interface?"
The document only said that I can load the model using command-line interface:
"To experiment with a model you've trained, you could create the following file and name it my_model.py. Then, run an attack with the argument --model-from-file my_model.py. The model and tokenizer will be loaded automatically."
And I am using textattack 0.2.10

[2021-12-16 17:25] qiyanjun commented on #598
see tutorials like; https://textattack.readthedocs.io/en/master/2notebook/Example_0_tensorflow.html

[2021-12-16 17:25] #598 closed

[2021-12-16 17:27] qiyanjun commented on #595
@dangne thanks for pointing this out. we will check why that decision was made

[2021-12-18 10:39] huberl commented on #572
Any update on this?

[2021-12-18 11:05] huberl opened #599 "Broken --dataset-split parameter in CLI"
**Describe the bug**
The `--dataset-split` parameter in the CLI should allow to select the split of the dataset. However, when running the commands below, an error occurs. This may be caused by the problem that there is no way to define the `subset` via the CLI, but only the split. Both are needed to obtain the dataset, as shown [here](https://github.com/QData/TextAttack/blob/master/textattack/dat

[2021-12-18 12:04] qiyanjun commented on #599
@huberl good catch!@ mind to submit a PR to fix it? thanks

[2021-12-18 12:04] qiyanjun commented on #597
@jw-dong thanks for pointing this out. Mind to submit a PR to fix this?

[2021-12-19 01:06] YiLiuHFUT opened #600 "save model"
Hello, I have a question. After I finish the attack, can the trained model that I attacked be saved?

[2021-12-23 19:02] IS5882 commented on #584
I also get this error when I _`!pip install textattack[tensorflow,optional]`_
 and  ` import textattack` on **Kaggle Notebook GPU backend** I get this error `FileNotFoundError: [Errno 2] No such file or directory: '/opt/conda/lib/python3.7/site-packages/six-1.16.0.dist-info/METADATA'`

When I try this instead:
`!pip install textattack['tensorflow']
`
I get this error when I import textattack:
`Imp

[2022-01-19 12:09] mawady opened #601 "Index error while running A2T, CNN, MR"
**Describe the bug**
Index error while running inference of attack(A2T) over classification(CNN) using dataset (MR)

**To Reproduce**
Colab link: https://colab.research.google.com/drive/10pV0ArRPIG0DjmgPjIXZhldCLRAciYbP?usp=sharing

**Expected behavior**
Running smooth inference over all samples of MR dataset like another combination of A2T and CNN.

**Screenshots or Traceback**
mr__cnn__a2t -- er

[2022-01-22 18:20] qiyanjun commented on #300
Met similar installation errors on AWS sagemaker...

solved with running the following before textattack installation

`!apt-get update && apt-get install -y build-essential`
`!pip install textattack[tensorflow]`

[2022-01-28 16:42] pruksmhc commented on #407
I'm interested in picking this up. It seems like sentence-level transformations would be relatively easy to implement in augmentors (as opposed to transformations), so thinking of starting with paraphrase-based sentence-level augmetnations.

[2022-01-31 22:21] dillonlue opened #604 "nltk omw-1.4"
**Describe the bug**
Test cases in  test_augment_api.py because some datasets from nltk are needed but are not installed.

**To Reproduce**
pip install textattack
pytest tests/test_augment_api.py

**Expected change**
textattack/shared/utils/install.py needs to have nltk.download("omw-1.4")

[2022-02-01 05:10] JFChi opened #605 "Multi-GPU attack support"
Hi,
When I run the command
[code]
It shows
[code]

Is there any way to support multi-gpu attack? Any tips to solve this problem?

[2022-02-01 05:18] JFChi commented on #605
I just found the --parallel argument fit my need.

[2022-02-01 05:18] #605 closed

[2022-02-03 05:45] Jebrankhan opened #606 "Help in SavedModel file does not exist at"
Hello
Can anyone please help me with the following error while using textattack. I have installed the textattack and it is working fine with deepwordbug attack, however when I want to generate other type of attacks like textfooler etc., it generates the following error.

OSError: SavedModel file does not exist at: C:\Users\HP1\AppData\Local\Temp\tfhub_modules\063d866c06683311b44b4992fd46003be95240

[2022-02-06 16:37] shashank-srikant opened #607 "Attacking a pre-trained gpt-2 model from Huggingface"
I'm trying to attack a pre-trained `gpt-2` model, and use the example query provided in the project readme to try out an attack. I see the following error.

Package versions
[code]

Console output
[code]
 ---
It complains of not finding the right tokenizer.
To circumvent this, I attempted to use custom code to pass my model.
In this case however, I see that the embedding layer (expectedly) throws

[2022-02-09 16:59] malimsse26 opened #608 "My own Dataset"
Hey... I want to use my own dataset. Please do let me know how can I incorporate my own dataset in the following code:

[code]

[2022-02-13 11:01] cogeid opened #611 "Infinite loop with augmenter"
Once the sentence input reaches a certain length, the augmenter seems to be stuck in an infinite `loop.

[code]

Here is a snippet of code that demonstrates the issue. As of now I am unsure whether the bug stems from augmenter or attacked text.

[2022-02-18 06:19] LalitWagh commented on #606
did you solved it? I am also having the same error.

[2022-02-21 18:08] qiyanjun commented on #608
please https://textattack.readthedocs.io/en/latest/1start/FAQ.html#use-custom-datasets

[2022-02-21 18:08] #608 closed

[2022-02-21 18:09] qiyanjun commented on #606
@cogeid can you help?

[2022-02-21 18:09] qiyanjun commented on #604
Thanks...

[2022-02-21 18:09] #604 closed

[2022-02-21 18:10] qiyanjun commented on #600
same as #606

[2022-02-21 18:10] #600 closed

[2022-02-21 18:10] qiyanjun commented on #607
@srujanjoshi mind to help?

[2022-02-22 05:39] LalitWagh opened #615 "want Result table by running code instead on command prompt"
So, Running attack on cmd returns table of results. Is there any way like how can we get that table in coding output? Please help.

[2022-02-22 05:47] LalitWagh commented on #606
Clear your desktop cache. it will work
try windows key + r,
type %temp% select all and delete
type again temp and select all delete.
I am sure it will work. alteast worked for me.

[2022-02-22 05:52] LalitWagh opened #616 "Can we perform textattack on bigdata?"
After evaluating and reading docs, i cant find any way to do the attacks on larger datasets that we will be fetching from database server. and the dataset needs to be converted before attacking which is very hard to implement. Any solution of example notebook can you create to solve this?

[2022-02-23 01:22] Hanyu-Liu-123 commented on #615
Hi @LalitWagh, please try out this [notebook](https://github.com/QData/TextAttack/blob/master/docs/2notebook/1_Introduction_and_Transformations.ipynb) that provides instructions in running attacks.

[2022-02-23 01:26] Hanyu-Liu-123 commented on #616
Hi @LalitWagh, the dataset class that TextAttack attacker uses is implemented [here](https://github.com/QData/TextAttack/blob/master/textattack/datasets/dataset.py), and it provides a short example of creating your own dataset. This [notebook](https://github.com/QData/TextAttack/blob/master/docs/2notebook/4_Custom_Datasets_Word_Embedding.ipynb) also introduces the process of using your dataset for

[2022-02-23 01:28] Hanyu-Liu-123 commented on #611
Closed as it was a resolved misunderstanding. If the sentence is long it could take many iterations for the augmenter to perturb the sentence to the specified percentage.

[2022-02-23 01:28] #611 closed

[2022-02-24 20:44] LalitWagh commented on #616
So, I read the notebook. It helped me understand that we need the dataset on ordered dictionary in order to use textattack. Adding to my question, in aws server i have data but it has nearly 37 million rows and i dont want to convert it to ordered dictionary. So what solution can you propose for this problem?
Your any type of help is highly appreciated

[2022-02-28 04:39] JFChi opened #620 "Bug on CLARE when applying InputColumnModification constraint"
**Describe the bug**
Hi I am trying to run CLARE on MNLI dataset. I tried to apply the InputColumnModification(["premise", "hypothesis"], {"premise"}) constraint to CLARE and found the constraint does not work: it still change the premise. For example,

[code]
**To Reproduce**
In the clare_li_2020.py, I add
[code]
right after
[code]

**Expected behavior**
I expect the attack after adding the const

[2022-03-03 10:19] thak123 opened #621 "How to add XLM-roberta base to the supported models"
Can you point me to the code required to be updated for adding the XLM-Roberta base?

[2022-03-03 18:24] thak123 opened #622 "Mask token clipped for first and last sentence for word_swap_masked_lm"
**Describe the bug**
I created ClareAugementor and used a sentence to test. Only the middle words are getting augmented. When debugged I found only middle words are masked.

The code in file word_swap_masked_lm.py line 121 provides incorrect first and last masked texts.

**To Reproduce**
[code]

**Expected behavior**
Expected the masked_texts to have following text
[code]
As it does not augment th

[2022-03-06 23:28] kushalj001 opened #624 "Custom Model Wrapper for a custom pytorch model not working"
**Describe the bug**
I am currently trying to attack the IMDB dataset with a custom pytorch model. I am running into `IndexError` for all the attacks that I am trying.
**To Reproduce**
Steps to reproduce the behavior:
Here is the code for my model:
[code]
Here is the code for the custom model wrapper that I wrote:
[code]

**Expected behavior**
A clear and concise description of what you expected t

[2022-03-07 01:57] #624 closed

[2022-03-08 15:19] DavidHerel opened #625 "Train model on custom dataset from file does not work"
**Describe the bug**
Train model on custom dataset returns failure.

**To Reproduce**
Steps to reproduce the behavior:
1. Run following command `!textattack train --model distilbert-base-uncased --dataset-from-file <*.py> --model-num-labels 2 --model-max-length 64 --per-device-train-batch-size 128 --num-epochs 3`

**Expected behavior**
Expected to train the model from the custom dataset

**Screens

[2022-03-08 21:42] DavidHerel commented on #557
@marwanomar1 could you please provide me a code, which have worked for you? I have the same problem

[2022-03-09 15:29] jxmorris12 commented on #557
@DavidHerel are you getting the same error message? Maybe you need to supply a dataset

[2022-03-10 05:21] LalitWagh commented on #615
Hey there,
I have gone through the resource you shared. I was asking about the results table we generate at the end of attack how can i save it in csv or what resource u will suggest.

[2022-03-10 09:07] thak123 commented on #621
Fixed it

[2022-03-10 09:07] #621 closed

[2022-03-10 16:47] Hanyu-Liu-123 commented on #620
Hi @JFChi, thank you for bringing this up. We will look into this!

[2022-03-10 16:56] Hanyu-Liu-123 commented on #616
Hi @LalitWagh, I think with our current implementation the only two ways to prepare a dataset is to download one from huggingface or create one from scratch (using an ordered dict as you suggest). I couldn't think of a way to directly use your own data without changing the dataset class. I'll leave this issue open to see if others have any suggestions.

[2022-03-11 13:48] salijona opened #626 "Adversarial perturbations exceed max_percent values in overlap constraint"
I run an attack using FasterGeneticAlgorithmJia2019 recipe which has the maximum perturbation  set to **20%** through max_percent=0.2
However some of the generated adversarial examples for the rotten_tomatoes dataset pass this threshold.

Below two examples:

**Example A:**

Original sentence: throws in [[enough]] [[clever]] and unexpected twists to make the formula [[feel]] fresh ."
Adversarial s

[2022-03-14 15:20] jameswburton18 opened #627 "Out of Memory error when reusing log file names, *even if the log has been deleted*"
If the log.csv file is the same as one you have run before, *even if it has been deleted*, then you will return an out of memory error.

This only appears when running a query budget of 100 or above.

[2022-03-18 13:40] YiLiuHFUT opened #628 "'shuffle' is not work for me"
I am using the IMDB dataset and when I specify to attack 1000 samples, it will only attack the first 1000 positive samples. Why do I specify to attack 25,000 samples, and in the case of default 'shuffle=True', it still attack the positive samples first, instead of scrambled samples to attack?

[2022-03-22 04:03] JFChi commented on #620
@Hanyu-Liu-123 , Thanks for you reply!

Do you have any updates on this? I found the newest version of textattack still has the problem.

[2022-03-22 04:07] JFChi commented on #620
This is another example. @Hanyu-Liu-123

[code]

[2022-03-22 16:34] malimsse26 opened #630 "SyntaxError: invalid syntax"
!textattack train --model lstm --dataset rotten_tomatoes

Successfully trained but when I run below command:

!textattack eval --num-examples 1000 --model ./outputs/2022-03-22-15-24-31-623306/best_model/ --dataset-from-huggingface rotten_tomatoes --dataset-split test

SyntaxError: invalid syntax

Please do let me know where I am making mistake. I want to use LSTM

[2022-03-23 19:48] JFChi commented on #620
@Hanyu-Liu-123,

just have some updates on my side. I found another problem that might be related to this issue:

In MNLI training example 255115, the CLARE attack generate an attack result like this, which means it attacks the split token.

[code]

[2022-03-24 02:59] JFChi commented on #620
This is another bug, I will open a new issue for that.

[2022-03-24 03:08] JFChi commented on #620
@Hanyu-Liu-123, I think I fix the issue. The issue is here: https://github.com/QData/TextAttack/blob/master/textattack/transformations/word_merges/word_merge_masked_lm.py#L165-L166
Just insert one line then fix the issue.
[code]

[2022-03-24 03:08] #620 closed

[2022-03-24 03:10] JFChi opened #631 "Bug when attacking <SPLIT> in MNLI using CLARE"
**Describe the bug**

In MNLI training example 255115, the CLARE attack generate an attack result like this, which means it attacks the split token.

you still there Fernando sorry uh<SPLIT>I thought I lost you for a minute.
you still there Fernando sorry uh<SPLOTS IT>I thought I lost you for a minute.

[2022-03-24 03:14] JFChi commented on #631
The problem lies here: https://github.com/QData/TextAttack/blob/master/textattack/shared/attacked_text.py#L415,

Since "I" is in "<SPLIT>", so it misattack the SPLIT token. Replace this line with
[code]
fix the issue.